<div class="container white-block section" id="{{ section_id }}" {% block extraattrs %}{% endblock extraattrs %}>
	<legend class="handle relative-legend">
		<span>
			{% block section_name %}
			
			{% endblock section_name %}
		</span>
		<span class="sectioncontrol-btns-small" style="padding:0;">
			{% block section_controls %}
				<i class="iconic-cog"></i>
				<div class="dropdown hide">
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
						<li>
							<a href="javascript:void(0)" role="menuitem" class="collapse-section"><i class="iconic-fullscreen-exit"></i> Collapse</a>
						</li>
					</ul>	
				</div>
				
			{% endblock section_controls %}
		</span>
	</legend>
	<div class="section-content">
		{% block section_content %}
			
		{% endblock section_content %}
	</div>
</div>