{% extends 'part_templates/base_section.html' %}

{% block section_name %}
	Story Context
{% endblock section_name %}


{% block section_controls %}
	{% if not view_mode and not solve_mode %}
		<button type="button" id="edit-button" class="btn btn-danger"><i class="iconic-pen-alt-stroke"></i> Edit</button>
	{% endif %}
	{{ block.super }}
{% endblock section_controls %}

{% block section_content %}
	<div class="hero-unit" id="editor-space">
		<div id="editor" name="editor" class="savemode tag-support">
			{{ story|safe }}
		</div>
	</div>
{% endblock section_content %}