{% extends 'part_templates/well_common_rows.html' %}
{% load cavs_filters %}
{% load teaching_case_filters %}


{% block extra_rows %}

<div class="editable-div default-dilemma" id="dilemma_dilemma_0">
	<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}>{{ well_data.dilemma_0.0 }}</textarea>
	<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Dilemma</span>
	{% if not view_mode and not solve_mode and not evaluation_mode %}
	<div class="add-dilemma-btn">
		<div class="btn-group">
			<button class="btn btn-success" title="Add Dilemma, Action, Question"><i class="iconic-plus"></i></button>
		</div>
	</div>	
	{% endif %}
</div>
<div class="editable-div default-dilemma" id="dilemma_action_0">
	<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}>{{ well_data.dilemma_0.1 }}</textarea>
	<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Action</span>
</div>
<div class="editable-div default-dilemma" id="dilemma_question_0">
	<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}>{{ well_data.dilemma_0.2 }}</textarea>
	<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Question</span>
</div>

{% if solve_mode or evaluation_mode %}
	<div class="editable-div" id="dilemma_answer_0" {% if solve_mode %}style="background-color:#fff"{% endif %}>
		<textarea {% if evaluation_mode %}disabled{% endif %}>{{ well_data.dilemma_0.3 }}</textarea>
		<span class="floating-label" contenteditable="false" style="background-color:#1EA51C">Answer</span>
	</div>
{% endif %}

{% if evaluation_mode %}
	<div class="editable-div" id="dilemma_comment_0" style="background-color:#fff">
		<textarea>{{ well_data.dilemma_0.4 }}</textarea>
		<span class="floating-label" contenteditable="false" style="background-color:#2381DC">Comment</span>
	</div>	
{% endif %}

{% with well_data=well_data|sortdict_by_key  %}
	{% for dilemma_id, dilemma in well_data.iteritems %}
		{% if dilemma_id|startswith:'dilemma_' %}
			{% if dilemma_id != "dilemma_0"  %} 
			<div class="editable-div section-dilemma" id="dilemma_dilemma_{{ dilemma_id|get_answer_id }}">
				<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}>{{ dilemma.0 }}</textarea>
				<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Dilemma</span>
			</div>
			<div class="editable-div section-dilemma" id="dilemma_action_{{ dilemma_id|get_answer_id }}">
				<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}>{{ dilemma.1 }}</textarea>
				<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Action</span>
			</div>
			<div class="editable-div section-dilemma" id="dilemma_question_{{ dilemma_id|get_answer_id }}">
				<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}>{{ dilemma.2 }}</textarea>
				<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Question</span>
			</div>
			{% if solve_mode or evaluation_mode %}
				<div class="editable-div" id="dilemma_answer_{{ dilemma_id|get_answer_id }}" {% if solve_mode %}style="background-color:#fff"{% endif %}>
					<textarea {% if evaluation_mode %}disabled{% endif %}>{{ dilemma.3 }}</textarea>
					<span class="floating-label" contenteditable="false" style="background-color:#1EA51C">Answer</span>
				</div>
			{% endif %}
			{% if evaluation_mode %}
				<div class="editable-div" id="dilemma_comment_{{ dilemma_id|get_answer_id }}" style="background-color:#fff">
					<textarea>{{ dilemma.4 }}</textarea>
					<span class="floating-label" contenteditable="false" style="background-color:#2381DC">Comment</span>
				</div>	
			{% endif %}


			{% endif %}
			
		{% endif %}
	{% endfor %}    
{% endwith %}
{% endblock extra_rows %}

{% block extra_rows_static %}
<div class="editable-div default-dilemma" id="dilemma_dilemma_0">
	<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}></textarea>
	<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Dilemma</span>
	{% if not view_mode and not solve_mode and not evaluation_mode %}
	<div class="add-dilemma-btn">
		<div class="btn-group">
			<button class="btn btn-success" title="Add Dilemma, Action, Question"><i class="iconic-plus"></i></button>
		</div>
	</div>	
	{% endif %}
</div>
<div class="editable-div default-dilemma" id="dilemma_action_0">
	<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}></textarea>
	<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Action</span>
</div>
<div class="editable-div default-dilemma" id="dilemma_question_0">
	<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}></textarea>
	<span class="floating-label" contenteditable="false" style="background-color:#5FC4CD">Question</span>
</div>

{% endblock extra_rows_static %}