{% extends 'part_templates/well_common_rows.html' %}
{% load cavs_filters %}

{% block extra_rows %}
<div class="editable-div default-choice" id="choice_0" {% if solve_mode or evaluation_mode %} style="background-color:#fff"{% endif %} status="{% if well_data.choice_0.1 %}true{% endif %}">
	<textarea {% if view_mode or evaluation_mode or solve_mode %}disabled{% endif %}>{{ well_data.choice_0.0 }}</textarea>
	<span class="floating-label" contenteditable="false" {% if solve_mode %}style="background-color:#1EA51C"{% endif %}>Choice</span>
</div>


<div class="editable-div default-choice" id="choice_1" {% if solve_mode or evaluation_mode %} style="background-color:#fff"{% endif %} status="{% if well_data.choice_1.1 %}true{% endif %}">
	<textarea {% if view_mode or evaluation_mode or solve_mode %}disabled{% endif %}>{{ well_data.choice_1.0 }}</textarea>
	<span class="floating-label" contenteditable="false"  {% if solve_mode %}style="background-color:#1EA51C"{% endif %}>Choice</span>
	{% if not view_mode and not solve_mode and not evaluation_mode %}
	<div class="add-choice-btn">
		<div class="btn-group">
			<button class="btn btn-success" title="Add Choice"><i class="iconic-plus"></i></button>
		</div>
	</div>	
	{% endif %}
</div>
{% with well_data=well_data|sortdict_by_key  %}
	{% for choice_id, choice in well_data.iteritems %}
		{% if choice_id|startswith:'choice_' %}
			{% if choice_id != "choice_0" and choice_id != "choice_1" %} 
				<div class="editable-div section-choice" id="{{ choice_id }}" {% if solve_mode or evaluation_mode %} style="background-color:#fff"{% endif %} status="{% if choice.1 %}true{% endif %}">
					<textarea>{{ choice.0 }}</textarea>
					<span class="floating-label" contenteditable="false" {% if solve_mode %}style="background-color:#1EA51C"{% endif %} >Choice</span>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}    
{% endwith %}
{% endblock extra_rows %}

{% block extra_rows_static %}
<div class="editable-div default-choice" id="choice_0">
	<textarea {% if view_mode or evaluation_mode or solve_mode %}disabled{% endif %}></textarea>
	<span class="floating-label" contenteditable="false">Choice</span>
</div>
<div class="editable-div default-choice" id="choice_1">
	<textarea {% if view_mode or evaluation_mode or solve_mode %}disabled{% endif %}></textarea>
	<span class="floating-label" contenteditable="false">Choice</span>
	{% if not view_mode %}
	<div class="add-choice-btn">
		<div class="btn-group">
			<button class="btn btn-success" title="Add Choice"><i class="iconic-plus"></i></button>
		</div>
	</div>	
	{% endif %}
</div>	
{% endblock extra_rows_static %}