{% load cavs_filters %}
{% load teaching_case_filters %}

{% if wells|length %}
	{% for well_id, well_data in wells.iteritems %}
		<div class="well" id="{{ well_id }}" {% if evaluation_mode %}section_key="{{ section_key }}" subcase_id="{{ subcase_id }}"{% endif %}>
			<div class="delete-challenge-confirmation hide">
				<div>Do you really want to delete this challenge?</div>
				<div>
					<button type="button" class="btn btn-danger">Yes</button>
					<button type="button" class="btn btn-info">No</button>
				</div>
			</div>
			{% if view_mode or solve_mode %}
			<div class="relations-challenge-btn" title="Show Relations">
				<div class="btn-group">
					<button class="btn btn-inverse" title="Show Relationships"><i class="iconic-link"></i></button>
				</div>
			</div>	
			{% endif %}
			
			<div class="editable-div section-challenge" id='section_challenge'>
				<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %} >{{ well_data.section_challenge }}</textarea>    
				<span class="floating-label" contenteditable="false">Challenge Name</span>
			</div>
			<div class="editable-div section-challenge-description" id='section_challenge_description'>
				<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %} >{{ well_data.section_description }}</textarea>
				<span class="floating-label" contenteditable="false">Description</span>
			</div>
			{% block extra_rows %}
				
			{% endblock extra_rows %}
			<div class="editable-div default-question" id="question_0">
				<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %} >{{ well_data.question_0 }}</textarea>
				<span class="floating-label" contenteditable="false">Question</span>
				{% if not view_mode and not solve_mode and not evaluation_mode %}
				<div class="add-question-btn">
					<div class="btn-group">
						<button class="btn btn-success" title="Add Question"><i class="iconic-plus"></i></button>
					</div>
				</div>	
				{% endif %}
				
			</div>
			{% if solve_mode or evaluation_mode %}
				<div class="editable-div" id="answer_0" {% if solve_mode %}style="background-color:#fff"{% endif %}>
					<textarea {% if evaluation_mode %}disabled{% endif %}>{{ well_data.answer_0 }}</textarea>
					<span class="floating-label" contenteditable="false" style="background-color:#1EA51C">Answer</span>
				</div>
			{% endif %}

			{% if evaluation_mode %}
				<div class="editable-div" id="comment_0" style="background-color:#fff">
					<textarea>{{ well_data.comment_0 }}</textarea>
					<span class="floating-label" contenteditable="false" style="background-color:#2381DC">Comment</span>
				</div>	
			{% endif %}
			
			{% with well_data=well_data|sortdict_by_key  %}
				{% for question_id, question in well_data.iteritems %}
					{% if question_id|startswith:'question_' %}
						{% if question_id != "question_0"  %} 
							<div class="editable-div section-question" id="{{ question_id }}">
								<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %} >{{ question }}</textarea>
								<span class="floating-label" contenteditable="false">Question</span>
							</div>
							{% if solve_mode or evaluation_mode %}
							<div class="editable-div" id="answer_{{ question_id|get_answer_id }}" {% if solve_mode %}style="background-color:#fff"{% endif %}>
								<textarea {% if evaluation_mode %}disabled{% endif %}>{{ question_id|get_answer:well_data }}</textarea>
								<span class="floating-label" contenteditable="false" style="background-color:#1EA51C">Answer</span>
							</div>	
							{% endif %}
							
							{% if evaluation_mode %}
							<div class="editable-div" id="comment_{{ question_id|get_answer_id }}" style="background-color:#fff">
								<textarea>{{ question_id|get_comment:well_data }}</textarea>
								<span class="floating-label" contenteditable="false" style="background-color:#2381DC">Comment</span>
							</div>	
							{% endif %}
							
						{% endif %}
					{% endif %}
				{% endfor %}    
			{% endwith %}
			{% if not view_mode and not solve_mode and not evaluation_mode %}
			<div class="editable-div section-tags" id="section_tags">
				<select class="select-tags" multiple="multiple" placeholder="Assign tags..."></select>
				<span class="floating-label" contenteditable="false">Tags</span>
			</div>
			{% endif %}
		</div>
	{% endfor %}
{% else %}
<div class="well" id="well_0">
	<div class="delete-challenge-confirmation hide">
		<div>Do you really want to delete this challenge?</div>
		<div>
			<button type="button" class="btn btn-danger">Yes</button>
			<button type="button" class="btn btn-info">No</button>
		</div>
	</div>
	
	{% if view_mode or solve_mode %}
	<div class="relations-challenge-btn" title="Show Relations">
		<div class="btn-group">
			<button class="btn btn-inverse"><i class="iconic-link"></i></button>
		</div>
	</div>	
	{% endif %}
	

	<div class="editable-div section-challenge" id='section_challenge'>
		<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}></textarea>
		<span class="floating-label" contenteditable="false">Challenge Name</span>
	</div>
	<div class="editable-div section-challenge-description" id='section_challenge_description'>
		<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}></textarea>
		<span class="floating-label" contenteditable="false">Description</span>
	</div>
	{% block extra_rows_static %}
		
	{% endblock extra_rows_static %}
	<div class="editable-div default-question" id="question_0">
		<textarea {% if view_mode or solve_mode or evaluation_mode %}disabled{% endif %}></textarea>
		<span class="floating-label" contenteditable="false">Question</span>
		{% if not view_mode and not solve_mode and not evaluation_mode %}
		<div class="add-question-btn">
			<div class="btn-group">
				<button class="btn btn-success" title="Add Question"><i class="iconic-plus"></i></button>
			</div>
		</div>	
		{% endif %}
		
	</div>
	{% if not view_mode and not solve_mode and not evaluation_mode %}
	<div class="editable-div section-tags" id="section_tags">
		<select class='select-tags' multiple="multiple">
		</select>
		<span class="floating-label" contenteditable="false">Tags</span>
	</div>
	{% endif %}
</div>
{% endif %}

