<html>
<head>
	<title>
		{% block title %}Welcome to CAVS{% endblock title %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<script src="{{ STATIC_URL }}core/js/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

	
	{% block extrahead %}

	{% endblock %}
</head>
<body>
	{% block body %}


	{% endblock body %}

	{% block javascripts %}
			
	{% endblock javascripts %}
</body>
</html>