{% extends 'base.html' %}

{% load cavs_filters %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/common_base.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}pnotify/jquery.pnotify.default.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}pnotify/jquery.pnotify.default.icons.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}selectize/css/selectize.bootstrap2.css">
	
	<script type="text/javascript">
	$(function(){

		// ====================================================================
		// Setup ajax for csrf token - it is needed in Django by default
		// to mitigate CSRF attacks
		var csrftoken = $.cookie('csrftoken');

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
				// Send the token to same-origin, relative URLs only.
				// Send the token only if the method warrants CSRF protection
				// Using the CSRFToken value acquired earlier
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
		// ==================================================================		
		


		$(".dropdown-toggle").dropdown();

		$("#id-menu-bar div").mouseenter(function(){
			$(this).find('ul').show();
		});
		$("#id-menu-bar div").mouseleave(function(){
			$(this).find('ul').hide();
		});

		$("#logout").click(function(){
			window.location = "/logout/";
		});

		$("#search-select").click(function(){
			$("#global-searchbox-dropdown").css("position",'absolute').toggleClass("hide");
		})

		$("body").mouseup(function(event){
			$("#global-searchbox-dropdown").addClass("hide")
		});

		var global_search_selectize_control = $("#search-box").selectize({
			valueField: 'link',
			labelField: 'name',
			searchField: 'name',
			options: [],
			highlight : false,
			create: false,
			render: {
				option: function(item, escape) {
					return '<div>' +
								'<div>' + item.name + '</div>' + 
								'<div class="global-searchbox-option-desc">' + item.desc + '</div>' + 
							'</div>';
				}
			},
			load : function(query, callback){
				if(!query.length) return callback();

				$.ajax({
					url : "/global_search/",
					method : 'post',
					dataType : 'json',
					data : {
						query : query,
						query_type : $("#search-select i").attr('id')
					},
					success : function(data){
						$.each(data, function(key, value){
							$.each(value, function(key_1, value_1){
								callback(value_1);
							})
						})
					},
					error : function(xhr, status, error){
						callback();
					}
				});
			},
			onItemAdd : function(value, item){
				window.location = value;
			},
			
		});


		// Set the search box to its proper place
		$("#global-search-box .selectize-control").css({
			'width' : '90%',
			'margin-left' : $("#search-select").width(),
		})

		$("#global-searchbox-dropdown a").click(function(){

			// Set the search-select to the new selected item
			var id = $(this).attr('id');
			var icon = $(this).find("i").clone().attr('id',id);
			var text = $.trim($(this).find("span").text());
			$("#search-select").attr('title',text).html(icon);
			$("#global-searchbox-dropdown i").css('color','');
			$(this).find("i").css('color','#29E518');

			var control = global_search_selectize_control[0].selectize;
			control.clear();
			control.clearOptions();

		})

		$("#all").trigger('click');

	});
		
	</script>

{% endblock  %}

{% block body %}
	<div class="navbar navbar-inverse navbar-fixed-top" id="global-nav-bar">
		<div class="navbar-inner" id="global-navbar-inner">
			<a class="brand" href="/">CAVS</a>
			<form class="navbar-form pull-left">
				<div id="global-search-box">
					<div id="search-select" style="font-size:20px">
						
					</div>
					<input id="search-box" placeholder="Search...">
				</div>
				<div class="dropdown hide" id="global-searchbox-dropdown">
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
						<li>
							<a href="javascript:void(0)" role="menuitem" class="collapse-section" id="all">
								<i class='iconic-layers'></i>
								&nbsp;
								<span>
									All
								</span>
							</a>
							{% for search_key, search_item in global_search_hooks.iteritems %}
								<a href="javascript:void(0)" role="menuitem" class="collapse-section" id="{{ search_key }}">
									<i class="{{ search_item.get_icon }}"></i>
									&nbsp;
									<span>
										{{ search_item|trim:' ' }}
									</span>
									
								</a>
							{% endfor %}
						</li>
					</ul>	
				</div>
				
			</form>
			<ul class="nav pull-right">
				<li><a href="/user_profile/">{{ user_fname }}</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"><i class="iconic-cog"></i></a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" href="">Add Services</a>
						</li>
						<li role="presentation">
							<a role="menuitem" href="">Account</a>
						</li>
						<li role="presentation">
							<a role="menuitem" href="/logout/">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	
	<ul class="breadcrumb" style="top:40px; height:20px; width:100%; font-size:12px; padding:2px; margin:0;z-index:100">
		{% block breadcrumb_breadcrumbs %}
			<li><a href="/"><i class="iconic-home"> Home</i></a> <span class="divider">></span></li>		
		{% endblock breadcrumb_breadcrumbs %}
		
		<!--<li><a href="#">Home</a> <span class="divider">/</span></li>
		<li><a href="#">Library</a> <span class="divider">/</span></li>
		<li class="active">Data</li>-->
		
		
	</ul>

	<div id="body_content">
	{% block body_content %}
		
	{% endblock body_content %}
	</div>
{% endblock body %}

{% block javascripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}pnotify/jquery.pnotify.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}selectize/js/standalone/selectize.min.js"></script>
{% endblock javascripts %}