{% extends 'common_base.html' %}
{% load cavs_filters %}

{% block title %}
	Create Subcase
{% endblock title %}


{% block breadcrumb_breadcrumbs %}
	{{ block.super }}
	<li><a href="/view_case_study/{{ case_id }}"><i class="iconic-document-alt">View Case ({{ case_name }})</i></a><span class="divider">></span></li>
	<li><a href="/edit_case_study/{{ case_id }}"><i class="iconic-document-alt"> Edit Case</i></a> <span class="divider">></span></li>
	<li class="active"><i class="iconic-document-alt"> Create Subcase</i></li>
{% endblock breadcrumb_breadcrumbs %}


{% block extrahead %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}redactor/redactor.css"></link>


	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/create_subcase.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/editor.css">

<style>
	/* CSS overrides */
	legend{
		margin-bottom: 0;
	}

	.redactor_box .redactor_editor{
		overflow: hidden;
	}

	.redactor_box .redactor_editor:hover{
		overflow:auto;
	}
</style>

<script type="text/javascript">
$(function(){

	// $("#save-button").hide();
	// $("#editor-space").addClass("background-white");

	// // Activated when Save button is clicked
	// $("#save-button").click(function(){
	// 	$(this).hide();
	// 	$("#edit-button").show();
	// 	destroyEditor("#editor");
	// 	$("#editor-space").addClass("background-white");
	// 	$("#editor").addClass("savemode").removeClass("editmode");

	// });

	// // Activated when Edit button is clicked
	// // It displays the editor and the save button while hiding itself
	// $("#edit-button").click(function(){
	// 	$("#editor-space").removeClass("background-white");
	// 	$(this).hide();
	// 	$("#save-button").show();
	// 	$("#editor").addClass("editmode").removeClass("savemode");

	// 	// Add Autosave features below to other_opts to activate autosave feature
	// 	// autosave : "/save_story/",
 //  //   	autosaveInterval : 120,
 //  //   	autosaveCallback : function(data){
    		
 //    	// }

	// 	var other_opts = {
	// 		imageUpload : "/image_upload/",
 //        	fileupload : "/file_upload/"

	// 	}
	// 	createEditor("#editor", other_opts);
	// });


	// Toggle select subcase buttons
	// Also it gets the templates associated with a particular subcase
	$("#case-type-list button").click(function(){
		if(!$(this).hasClass('active')){
			$("#case-type-list button").removeClass("btn-info");
			$(this).addClass("btn-info");
			var subcase_id = $(this).attr('id').split('-');
			subcase_id = subcase_id[subcase_id.length - 1];
			$.ajax({
				context : this,
				url : "/get_subcase_templates/",
				data : {
					subcase_id : subcase_id,
				},
				dataType : 'json',
				method : "post",
				success : function(data){
					if(data === 'failure'){
						notify("Error","Some error occured", "error");
					}else{
						$("#template-list").html("");
						$.each(data, function(key, value){
							var button = $("<button></button>").attr("type", "button").addClass("btn cavs-large-btn").attr('id', "template-" + key).html(value['name']);
							$("#template-list").append(button);
						});

						// Call Refresh JS function
						refreshJs();
					}
				},

				error : function(xhr, status, error){
					notify("Error","Some error occured", "error");
				}

			});
		}
	});

	// Modal dialog for confirmation of cancel
	$("#cancel-btn").mouseup(function(){
		window.location = "#cancel-confirm-modal";
		$("#cancel-confirm-modal .modal-footer .btn-primary").mouseup(function(){
			window.location = "/{{ user_id }}/edit_case_study/{{ case_id }}";
		});
	});



	// Actions to be taken when Create Subcase button is pressed
	$("#submit-btn").mouseup(function(){
		// Check if subcase name is blank
		if(!$("#id-subcase-name input").val()){
			scrollTo("#subcase-name-block", -70);
			return false;
		}

		// Check if subcase is selected
		var active_case_type = $("#case-type-list button.active");
		if(!active_case_type.length){
			scrollTo("#case-type-block", -70);
			return false;
		}
		

		// Check if a template is selected
		var active_template_btn = $("#template-block button.active");
		if(!active_template_btn.length){
			scrollTo("#template-block", -70);
			return false;
		}

		var subcase_name = $("#id-subcase-name input").val();
		
		var subcase_id = $(active_case_type).attr('id').split('-');
		subcase_id = subcase_id[subcase_id.length - 1];

		var template_id = $(active_template_btn).attr('id').split('-');
		template_id = template_id[template_id.length - 1];

		var story_context = $("#editor").html();

		$.ajax({
			context : this,
			url : "/create_subcase/",
			method : "post",
			dataType : 'json',
			data : {
				case_id : {{ case_id }},
				subcase_id : subcase_id,
				template_id : template_id,
				story_context : story_context,
				subcase_name : subcase_name
			},
			success : function(data){
				console.log("/create_subcase/" + data.data.subcase_id);
				if(data.status === "1") window.location = "/edit_subcase/" + data.data.subcase_id;
			},
			error : function(xhr, status, error){

			}
		})
	});


	// Checks if subcase name doesn't have any conflict and is valid
	$("#id-subcase-name input").keyup(function(){
		var data = $("#id-subcase-name input").val();
		
		// If there is no data, do not proceed for request
		if (!data) return false;


		$.ajax({
			url : "/check_subcase_name/",
			method: "post",
			data : {
				case_id : {{ case_id }},
				subcase_name : data
			},
			success : function(data){
				var icon = document.createElement('i');
				$("#id-subcase-name span").html("");

				// TO DO: the following code must work
				if(data === "1"){
					$(icon).addClass("icon-o-check").css({'color' : "#35991B"});
					$("#id-subcase-name span").append(icon);
					// $("#id-subcase-name span").html("asda");
				}else{
					$(icon).addClass("icon-o-x").css({'color' : "#A62B2B"});
					$("#id-subcase-name span").append(icon);
				}
			},
			error : function(xhr, status, error){
				notify("Error", "Some error occured", "error", {nonblock : true});
			}
		})
	});
	
});

// Refresh this block of JS for dynamically added html
function refreshJs(){
	// Toggle select template buttons
	$("#template-list button").click(function(){
		if(!$(this).hasClass('active')){
			$("#template-list button").removeClass("btn-info");
			$(this).addClass("btn-info");
		}
	});

}

</script>


{% endblock extrahead %}

{% block body_content %}

	<!-- Confirm box -->
	<div id="cancel-confirm-modal" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Confirm Cancel</h3>
		</div>
		<div class="modal-body">
			Do you really want to leave this page???
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-danger" data-dismiss="modal">No</a>
			<a href="#" class="btn btn-primary">Yes</a>
		</div>
	</div>

	<div id="section-wrapper">
		<!-- Enter subcase name block -->	
		<div class="container white-block section" id="subcase-name-block">
			<legend>
				<span>Subcase Name</span>
			</legend>
			<div id="id-subcase-name">
				<input type="text" placeholder="some case name"><span></span>
			</div>
		</div>


		<!-- Choose Case Type block -->
		<div class="container white-block section" id="case-type-block">
			<legend class="relative-legend">
				<span>Choose Case Type</span>
				<span id="add-case-type-btn" class="sectioncontrol-btns">
					{% if user_id|is_moderator:case_id %}
					<button type="button" class="btn btn-success">
						<i class="iconic-o-plus"></i> Add Case Type
					</button>
					{% endif %}	
				</span>
			</legend>
			
			<div id="case-type-list" class="horizonal-scroll" data-toggle="buttons-radio">
			
			{% for subcase in subcase_hooks %}
				<button type="button" class="btn cavs-large-btn" id="subcase-{{ subcase.hook_id }}">
					<i class="iconic-o-plus"></i> {{ subcase.name }}
				</button>
			{% endfor %}
			</div>
		</div>

		<!-- Choose Template block -->
		<div class="container white-block section" id="template-block">
			<legend class="relative-legend">
				<span>Choose Template</span>
				<span id="add-template-btn" class="sectioncontrol-btns">
					{% if user_id|is_moderator:case_id %}
					<button type="button" class="btn btn-success">
						<i class="iconic-o-plus"></i> Add Template
					</button>
					{% endif %}
				</span>
			</legend>
			
			<div id="template-list" class="horizontal-scroll" data-toggle="buttons-radio">
				
			</div>
			
		</div>

		<!-- Story Context block -->
		<div class="container white-block section" id="story-context-block">
			<legend id="story-legend" class="relative-legend">
				<span>Story Context</span>
			
				<span id="save-spinner"></span>
				<span id="editor-complementary-buttons" class="sectioncontrol-btns">
					<button type="button" id="edit-button" class="btn btn-danger"><i class="iconic-pen-alt-stroke"></i> Edit</button>
					<button type="button" id="save-button" class="btn btn-success">
						<!-- Add spinner to Save for ajax -->
						<i class="iconic-check"></i> Save
					</button>
				</span>

			</legend>

			<div class="hero-unit" id="editor-space">
				<div id="editor" name="editor" class="savemode">
					{{ case_story|safe }}
				</div>
			</div>

		</div>
		
		<!-- Submit/Cancel block -->
		<div class="container blank-block section" id="submit-cancel-block">
			<span class="pull-right">
				<button id="cancel-btn" class="btn btn-danger" href="#cancel-confirm-modal" data-toggle="modal">Cancel</button>
				<button id="submit-btn" class="btn btn-primary">Create Subcase</button>
			</span>
		</div>
	</div>

	<div class="container footer-gap"></div>
{% endblock body_content %}


{% block javascripts %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}redactor/redactor.js"></script>

	<!-- If IE9 -->
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/excanvas.js"></script>
	<!-- End If -->
	
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/spinners.min.js"></script>
	<script type="text/javascript">
		var EDITOR_AJAX_FLAG = false;
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/editor.js"></script>
{% endblock javascripts %}