{% extends 'common_base.html' %}
{% load cavs_filters %}

{% block title %}
	Edit Case
{% endblock title %}


{% block breadcrumb_breadcrumbs %}
	{{ block.super }}
	<li><a href="/view_case_study/{{ case_id }}"><i class="iconic-document-alt">View Case ({{ case_name }})</i></a><span class="divider">></span></li>
	<li class="active"><i class="iconic-document-alt">Edit Case</i></li>
{% endblock breadcrumb_breadcrumbs %}

{% block breadcrumb_pagename %}
Edit Case				
{% endblock breadcrumb_pagename %}


{% block extrahead %}
	{{ block.super }}
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}redactor/redactor.css"></link>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/edit_case_study.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/editor.css">
	

	<!-- This must be added for tags context menu to work properly -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_hooks/css/tags_style.css">


<style>
	/* CSS overrides */
	legend{
		margin-bottom: 0;
	}
	.redactor_box .redactor_editor{
		overflow: hidden;
	}

	.redactor_box .redactor_editor:hover{
		overflow:auto;
	}

</style>

<script type="text/javascript">


$(function(){
	
	// Notify for a new feature
	// Refer to: https://github.com/sciactive/pnotify for all the possible options
	{# Show notification only if code is on appfog server #}
	{% if VCAP_SERVICES %}
	notify("Tag Actors and Decision Point (demo)", "<ul><li>Add text to Case Study Select a text</li><li>Right Click</li><li>Add as Actor</li><li>Find actor at Tags block</li></ul>","info", {
		hide : false,
	});
	{% endif %}

	// Needed for proper alignment of two column sections
	$(".two-col-section").css('height',$('.two-col-section .section-half-right').height() > $('.two-col-section .section-half-left').height() ? $('.two-col-section .section-half-right').height() : $('.two-col-section .section-half-left').height());
	
	

	// Shows the editor when the Write Story button is clicked
	$("#write-story-btn").click(function(){

		// Id write story button is clicked, hide the upload screen and show editor
		$("#ask-for-story").hide();
		$("#editor-complementary-buttons").show();
		$("#editor-space").show();
		$("#edit-button").trigger('click');
	});

	// Activated when Save button is clicked
	$("#save-button").click(function(){
		var save_data = $("#editor").redactor('get');

		// If there is no data in the editor, again ask for a file
		// to be uploaded OR to write a story
		if(!save_data){
			$("#editor-space").hide();
			$("#editor-complementary-buttons").hide();
			$("#ask-for-story").show();
		}

		// Else save the content and 
		else{
			// Add spinner to indicate saving in Save button
			// SPINNER_OPTS.height = 30;
			// SPINNER_OPTS.rotation = 700;
			// var spinner = Spinners.create('#save-spinner', SPINNER_OPTS).play();
			// spinner.center();

			$.ajax({
				url : "/set_story/",
				type : 'post',
				data : {
					story_data : getElementData("#editor"),
					case_id : "{{ case_id }}"
				},
				success : function(data){
					console.log(data);
					if (data === 'success'){
						notify("Update successful", "Your story has been updated successfully.", "success", {nonblock : true});
					}else{
						notify("Update unsuccessful", "Story update was unsuccessful.", "error", {nonblock : true});
					}
				},
				error : function(xhr, status, error){
					notify("Update unsuccessful", error + " Story update was unsuccessful.", "error", {nonblock : true});
				}
			});

			$(this).hide();
			$("#edit-button").show();
			destroyEditor("#editor");
			$("#editor-space").addClass("background-white");
			$("#editor").addClass("savemode").addClass("tag-support").removeClass("editmode");
		}

	});


	// Activated when Edit button is clicked
	// It displays the editor and the save button while hiding itself
	$("#edit-button").click(function(){
		$("#editor-space").removeClass("background-white");
		$(this).hide();
		$("#save-button").show();
		$("#editor").addClass("editmode").removeClass("savemode").removeClass("tag-support");

		// Add Autosave features below to other_opts to activate autosave feature
		// autosave : "/save_story/",
  //   	autosaveInterval : 120,
  //   	autosaveCallback : function(data){
    		
    	// }

		var other_opts = {
			imageUpload : "/plugins/core_hooks/upload_photo_redactor/{{ case_id }}/",
        	imageGetJson : "/plugins/core_hooks/fetch_photos_redactor/"

		}
		createEditor("#editor", other_opts);
	});


	/* POPOVER editing of case name */
	$("#edit-case-name").popover({
		title: "Change name",
		html: true,
		content: '<input type="text" placeholder="Enter new name"><button type="button" class="btn btn-primary">Ok</button><button type="button" class="btn btn-danger">Cancel</button>'
	});



	// Fetch all the collaborators for the case study and put them in the selectize
	$.ajax({
		url : "/fetch_collaborators/",
		method : 'post',
		dataType : 'json',
		data : {
			query : $("#this-case-id").val()
		},
		success : function(data){
			$.each(data.collaborators, function(index, value){
				$("#select-collaborators").append($('<option value="' + value.id + '" data-data="{&quot;full_name&quot;:&quot;' + value.full_name + '&quot;,&quot;email&quot;:&quot;' + value.email + '&quot;}" selected="selected">' + value.full_name + '</option>'));
			})
			var select_collaborators_control = $("#select-collaborators").selectize({
				plugins : ['remove_button'],
				valueField: 'id',
				labelField: 'full_name',
				searchField: 'email',
				dataAttr : 'data-data',
				render: {
					item : function(item, escape){
						return '<div class="item">' + 
									'<span>' + escape(item.full_name) + '</span>' +
									'<span>' + escape(item.email) + '</span>' +
								'</div>';
					},
					option: function(item, escape) {
						return '<div>' + 
									'<span>' + escape(item.full_name) + '</span>' +
									'<span>' + escape(item.email) + '</span>' +
								'</div>';
					}
				},
				load : function(query, callback){
					if(!query.length) return callback();
					$.ajax({
						url : "/get_collaborators/",
						method : 'get',
						dataType : 'json',
						data : {
							query : query,
						},
						success : function(data){
							callback(data.users);
						},
						error : function(xhr, status, error){
							callback();
						}
					});
				},
				onItemAdd : function(value, item){
					$.ajax({
						url : '/add_collaborator/',
						method : 'post',
						context : this,
						data : {
							case_id : $("#this-case-id").val(),
							user_id : value
						},
						success : function(data){
							
						},
						error : function(xhr, status, error){
							var control = this.$input[0].selectize;
							control.removeItem(value);
							control.refreshOptions();
							notify("Error", "Some error happened while adding the collaborator. Try again in some time.", 'danger', {nonblock:true});
						}
					})
				},
				onItemRemove : function(value){
					$.ajax({
						url : "/remove_collaborator/",
						method : 'post',
						data : {
							case_id : $("#this-case-id").val(),
							user_id : value
						},
						success : function(data){
							
						},
						error : function(xhr, status, error){
							var control = this.$input[0].selectize;
							control.removeItem(value);
							control.refreshOptions();
							notify("Error", "Some error happened while removing the collaborator. Try again in some time.", 'danger', {nonblock:true});
						}
					})
				}

			});
		},
		error : function(xhr, status, error){
			notify("Error", "Some error happened while fetching the collaborators. Try refreshing page.", 'danger', {nonblock:true});
		}
	})

	

	
	


	// Action on clicking Add Subcase: Redirect to create_subcase page
    $("#add-subcase-btn button").click(function(){
    	window.location = "/create_subcase/{{ case_id }}";
    });


    // Direct to Edit subcase page when user clicks on anyone subcase button from
    // Subcase list
    $("#subcase-list button").click(function(){
    	var subcase_id = $(this).attr('id').split('-')[1];
    	window.location = "/{{ user_id }}/edit_subcase/" + subcase_id + "/";
    });

});


// select2: Format the result for display in collaborators
function formatResult(data){
	return '<div id="' + data.id + '"">' + data.full_name + '</div>';
	
}

// select2: Format the result for selection in collaborators
function formatSelection(data){
	// return '<div id="' + data.id + '"">' + data.full_name + '</div>';
	return data.full_name;
}






</script>
{% endblock extrahead %}

{% block body_content %}

<input type="hidden" id="this-case-id" value="{{ case_id }}">
<input type="hidden" id="this-user-id" value="{{ user_id }}">

<!-- Templates for some elements -->

<!-- Context menu template -->

{% include 'part_templates/tags/case_tags_context_menu.html' %}



<div id="section-wrapper">
	<div class="container white-block section" id="story-block">
		<legend id="story-legend">
			<span>{{ case_name }}</span>
		
			<span id="save-spinner"></span>
			<span id="editor-complementary-buttons" class="sectioncontrol-btns">
				<button type="button" id="edit-button" class="btn btn-danger"><i class="iconic-pen-alt-stroke"></i> Edit</button>
				<button type="button" id="save-button" class="btn btn-success" data-loading-text="Saving...">
					<!-- Add spinner to Save for ajax -->
					<i class="iconic-check"></i> Save
				</button>
			</span>

		</legend>

		<div class="hero-unit" id="editor-space">
			<div id="editor" name="editor" class="savemode tag-support">
				{{ case_story|safe }}
			</div>
		</div>

		<div id="ask-for-story">
			<ul class="ask-for-story-inline">
				<li>
					<button type="button" class="btn btn-primary" id="write-story-btn"><i class="iconic-pen"></i> Write Story</button>
				</li>
				<li id="ask-for-story-separator">
					OR
				</li>
				<li>
					<div class="fileupload fileupload-new ask-for-story-inline" data-provides="fileupload">
						<div class="input-append">
							<div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview">Upload Story <span id="file-extension-info">( txt, doc, docx, pdf )</span></span>
							</div>
							<span class="btn btn-file"><span class="fileupload-new">Select File</span><span class="fileupload-exists">Change</span><input type="file" /></span>
							<a href="javascript:void(0)" id="file-upload-cancel" class="btn fileupload-exists btn-danger" data-dismiss="fileupload">Cancel</a>
							<a href="javascript:void(0)" class="btn fileupload-exists btn-primary">Upload</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	{% include 'part_templates/tags/case_tags_section.html' %}

	

	<div class="section pos-relative two-col-section">
		<!-- ####################### Subcases block ############################## -->
		<div class="container white-block section-half section-half-left pos-absolute">
			<legend>
				<span>Subcases</span>
				<span id="add-subcase-btn" class="sectioncontrol-btns">
					{% if user_id|is_moderator:case_id %}
					<button type="button" class="btn btn-success">
						<i class="iconic-o-plus"></i> Add Subcase
					</button>
					{% endif %}	
				</span>
			</legend>
			<div id="subcase-list" class="text-display">
				<ul class="list-no-decoration">
				{% for subcase in subcases %}
					<li>
						<a href="/edit_subcase/{{ subcase.id }}/">{{ subcase.name }}</i></a>
					</li>
				{% endfor %}	
				</ul>
			</div>
		</div>
		
		<!-- ####################### Collaborators block ############################## -->	
		<div id="my-collaborators-block" class="container white-block section-half section-half-right pos-absolute" style="margin-bottom:50px">
			<legend><span>Collaborators</span></legend>
			<div class="select-holder">
				<select multiple="multiple" id='select-collaborators' placeholder="Select a Collaborator...">
					
				</select>
			</div>
		</div>
	</div>

</div>
<div class="container footer-gap clearfix"></div>
{% endblock body_content %}


{% block javascripts %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}redactor/redactor.js"></script>
		<!-- If IE9 -->
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/excanvas.js"></script>
	<!-- End If -->
	
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/spinners.min.js"></script>

	{# Extract all js files required for tags_menu plugins to work #}
	{% for js in case_tag_hook_js %}
		<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}

	{% include 'part_templates/tags/case_tags_js.html' with row_id=case_id view_mode=False %}

	<script type="text/javascript">
		// Editor must only hide if there is no content in it
		// If there is no content, then the Save/ Edit button must also be hidden
		// along with the editor

		// This is placed here for faster loading

		var data_flag = getElementData("#editor");
		if(!data_flag){
			// Hide editor on initialization
			$("#editor-space").hide();
			$("#editor-complementary-buttons").hide();
		}else{
			$("#ask-for-story").hide();
			$("#save-button").hide();
			$("#editor-space").addClass("background-white");
		}


	</script>

{% endblock javascripts %}