{% extends 'common_base.html' %}
{% load cavs_filters %}
{% load teaching_case_filters %}

{% block title %}
	{% if view_mode %}
		View Subcase {{ case_name }}
	{% else %}
		Edit Subcase
	{% endif %}
{% endblock title %}

{# ---------------- Breadcrumbs ---------------------- #}
{% block breadcrumb_breadcrumbs %}
	{{ block.super }}
	{% if view_mode %}
	<li><a href="/view_case_study/{{ case_id }}"><i class="iconic-document-alt"> View Case - {{ case_name }}</i></a> <span class="divider">></span></li>
	<li class="active"><i class="iconic-document-alt"> View Subcase - {{ subcase_name }}</i></li>
	{% else %}
	<li><a href="/view_case_study/{{ case_id }}"><i class="iconic-document-alt"> View Case - {{ case_id|get_case_name }}</i></a> <span class="divider">></span></li>
	<li><a href="/plugins/core_hooks/view_subcase/{{ subcase_id }}"><i class="iconic-document-alt"> View Subcase - {{ subcase_name }}</i></a> <span class="divider">></span></li>	
	<li class="active"><i class="iconic-document-alt"> Edit Subcase - {{ subcase_name }}</i></li>
	{% endif %}
	
{% endblock breadcrumb_breadcrumbs %}
{# --------------------------------------------------- #}

{% block extrahead %}
	{{ block.super }}
	

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}redactor/redactor.css"></link>
	<link rel="stylesheet" href="{{ STATIC_URL }}core/js/jquery_ui/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}selectize/css/selectize.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/editor.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}core/css/edit_subcase.css">
	{% for css in css_includes %}
		<link rel="stylesheet" href="{{ css }}">
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_hooks/css/tags_style.css">

	<style type="text/css">
	legend{
		margin-bottom: 0;
	}

	.redactor_box .redactor_editor{
		overflow: hidden;
	}

	.redactor_box .redactor_editor:hover{
		overflow:auto;
	}

	</style>
	
<script type="text/javascript">
var section_menu_flag = false;

$(function(){


	{# Show notification only if code is on appfog server #}
	{% if VCAP_SERVICES %}
	notify("Arrange sections", "You can arrange the sections by drag and drop. Hold on to header of section, drag and drop to arrange", "info");
	notify("Add delete questions/choices", "You can add/delete question and choices across various sections by clicking <button class='btn btn-success'><i class='iconic-plus'></i></button> and <button class='btn btn-danger'><i class='iconic-minus'></i></button> that slides out on hover over extra questions/choices respectively.", "info");
	notify("Add Challenges", "Add challenges in a section by clicking  <i class='iconic-cog'></i> icon on every section and then Add Section and delete challenge by clicking <button class='btn btn-primary'><i class='iconic-minus'></i></button>", 'info');
	{% endif %}
	
	
})




</script>

{% endblock extrahead %}

{% block body_content %}

<!-- This input is necessary to pass the subcase_id to external js files -->
<input type="hidden" id="this-subcase-id" value="{{ subcase_id }}">
<input type="hidden" id="this-user-id" value="{{ user_id }}">
<input type="hidden" id="this-subcase-display-mode" value="{{ view_mode }}">
{% for key in sections.iterkeys %}
	<input type="hidden" class="subcase-default-sections" value="{{ key }}" class="hide">	
{% endfor %}

{% include 'part_templates/tags/subcase_tags_context_menu.html' %}



{% if not view_mode %}

{# Section Context menu #}
<div class="dropdown hide" id="id-contextmenu-template">
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
		{% for section_menu_item in section_menu_items %}
			<li><a tabindex="-1" href="javascript:void(0);" id="id-{{ section_menu_item|connect_by_hyphen }}">{{ section_menu_item }}</a></li>
		{% endfor %}
	</ul>
</div>

<!-- Add Settings Modal -->
<div id="subcase-settings-modal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><i class="iconic-o-minus"></i> Delete Subcase</h3>
	</div>
	<div class="modal-body">
		<div>Do you really want to delete this subcase???</div>
		<br>
		<div>
			<button type='button' class="btn btn-danger"> Yes</button>
			<button type='button' class="btn" data-dismiss="modal"> No</button>
		</div>
	</div>
</div>


<!-- Delete section confirmation -->
<div id="delete-section-confirmation-modal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><i class="iconic-o-minus"></i> Delete section???</h3>
	</div>
	<div class="modal-body">
		Do you really want to delete this section???
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="btn btn-danger">Yes</a>
		<a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal">No</a>
	</div>
</div>



{# Toolbox #}
<div class="container" id="id-toolbox">
	<div id="id-header">
		<span>Toolbox</span>
	</div>
	<div>
		<span id="id-add-section">
			<i class="iconic-plus"></i>
			<span>Sections</span>

		</span>
	</div>
	<div id="collapse-all">
		<span>
			<i class="iconic-fullscreen-exit"></i>
			<span>Collapse All</span>
		</span>
	</div>
	<div id="toolbox-save-subcase">
		<span>
			<i class="iconic-cloud-upload"></i>
			<span>Save</span>
		</span>
	</div>
</div>
{% endif %}
	

<div id="section-wrapper">
	{% if view_mode %}
	<div class="alert-message success pos-relative" id="id-case-name-info">
		<h4>{{ subcase_name }}</h4>
		<div class="btn-group">
			<button class="btn solve_subcase"><i class="iconic-lightbulb"></i>Solve</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<i class="caret"></i>&nbsp;
			</button>
			<ul class="dropdown-menu">
				<li>
					{% if user_id|can_edit_subcase:case_id %}
						<a href="/edit_subcase/{{ subcase_id }}"><i class="iconic-pen"></i> Edit</a>
					{% endif %}
					<a href="#subcase-settings-modal" data-toggle="modal"><i class="iconic-cog"></i> Settings</a>
				</li>
			</ul>
			
		</div>
	</div>
	{% endif %}

	{% include 'part_templates/story.html' with section_id='story-section' %}
	{% include 'part_templates/tags/subcase_tags_section.html' with section_id='tags-block' %}
	{% if subcase_data %}
		{% for key, value in subcase_data.iteritems %}
			{% include all_sections|get_section:key with section_id=key wells=value|sortdict_by_key %}
		{% endfor %}
	{% else %}
		{% for section_id, section in sections.iteritems %}
			{% include section with section_id=section_id %}
		{% endfor %}	
	{% endif %}
</div>

<div class="container footer-gap"></div>

<div class="modal-backdrop hide" id="relations-overlay">
	<div class="pos-absolute modal-backdrop-cancel"#>&times;</div>
	
</div>
{% endblock body_content %}

{% block javascripts %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}redactor/redactor.js"></script>
	<script src="{{ STATIC_URL }}core/js/jquery_ui/js/jquery-ui.min.js"></script>

	{% if view_mode %}
	<!-- Files of arbor graph can be made to request dynamically, once when Show Relations button is clicked.
	But it is not being followed due to constraint of time.	
	However, it is important to improve the loading of the page and I hope someone does it down the line. -->
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/mxh7kqd.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/arbor.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/arbor-tween.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/arbor-graphics.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/renderer.js"></script>
	{% endif %}


	<script type="text/javascript" src="{{ STATIC_URL }}core/js/editor.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.autosize.js"></script>
	
	<!-- If IE9 -->
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/excanvas.js"></script>
	<!-- End If -->
	
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/spinners.min.js"></script>
	
	{# Add all section menu js provided from currently used subcase_hook #}
	{% for js in js_includes %}
		<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}
	
	{% include 'part_templates/tags/subcase_tags_js.html' with row_id=subcase_id view_mode=view_mode %}
	

	<script type="text/javascript" src="{{ STATIC_URL }}core/js/edit_subcase.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.color.min.js"></script>
	


	
	<script type="text/javascript">

	{% if view_mode %}
		$("#id-case-name-info div.btn-group").css({'position' : 'absolute', 'top' : ($("#id-case-name-info .btn-group").height()/2 - 4) + 'px', 'right' : '10px'});
	{% endif %}

	var EDITOR_AJAX_FLAG = false;

	// Bring toolbox to vertical middle
	var toolbox_height = $("#id-toolbox").height();
	$("#id-toolbox").css("margin-top",0-toolbox_height/2);
	</script>
{% endblock javascripts %}