{% extends 'base.html' %}

{% load bootstrap %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/frontpage.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery_validation/css/validationEngine.jquery.css">

	
	<script type="text/javascript">
	$(function(){
		// $("#id-login-signup-block input[type='submit']").parent().css('text-align','center');

		$("#id-login-form").validationEngine();
		$("#id-signup-form").validationEngine();

		$("#id-login-form").ajaxForm({
			url : "/login/",
			type : 'post',
			success : function(data){
				if(data !== "failure") {
					window.location = data;
					console.log(data);
				} else {
					$("#id-login-form").find('input').css('background-color','#FE8585');
					console.log(data);
				}
				
			}
		});
		
		$("#id-signup-form").ajaxForm({
			url : "/register/",
			type : 'post',
			dataType : 'json',
			success : function(data){
				var arr = {
					'first_name' : 'id_first_name',
					'last_name' : 'id_last_name',
					'email' : 'id-signup-email',
					'confirm_email' : 'id-confirm-email',
					'password' : 'id-signup-password'
				}
				if(data.status === '1') $("#signup-alert-message").addClass("alert alert-success").html("Success, check your mailbox for confirmation!!!");
				else {
					$.each(data.errors, function(index, value){
						console.log("#" + arr[index]);
						$("#" + arr[index]).error_msg({
							message : value,
							pushRight : 20,
							pushDown : 4

						})
					})
				}
			}
		});


	});
	</script>

{% endblock %}

{% block body %}

    <div class="container" id="id-login-signup-block">
		<div id="id-login">
			<legend>Login</legend>
			<form action="" class="form-horizontal" id="id-login-form" method="post">
				{% csrf_token %}
				{{ login_form|bootstrap_horizontal }}
				<div class="control-group">
					<label class="control-label col-sm-2 col-lg-2" for="id_password"></label>
					<div class=" col-sm-10 col-lg-10">
						<button type="submit" class="btn btn-primary">Sign In</button>
					</div>
				</div>
			</form>
		</div>
		<div id="id-signup">
			<legend>Sign Up</legend>
			<div id="signup-alert-message"></div>
			<form action="" class="form-horizontal" id="id-signup-form">
				{% csrf_token %}
				{{ signup_form|bootstrap_horizontal }}
				<div class="control-group">
					<label class="control-label col-sm-2 col-lg-2" for="id_password"></label>
					<div class=" col-sm-10 col-lg-10">
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</div>
				</div>
			</form>
		</div>
    </div>
{% endblock %}


{% block javascripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery_validation/js/languages/jquery.validationEngine-en.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery_validation/js/jquery.validationEngine.js"></script>
{% endblock javascripts %}