{% extends 'common_base.html' %}

{% load bootstrap %}

{% block title %}
	Home
{% endblock title %}

{% block breadcrumb_breadcrumbs %}
	<li class="active"><i class="iconic-home"> Home</i></li>
{% endblock breadcrumb_breadcrumbs %}



{% block extrahead %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/homepage.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery_validation/css/validationEngine.jquery.css">

	<script type="text/javascript">
	$(function(){
		// Flags to prevent repeated fetching of bookmarks and cases
		// when their tabs are clicked
		var bookmark_fetch_flag = false;
		var cases_fetch_flag = false;

		$("#create-case-study-form").validationEngine();

		// Logic for changing tabs
		$("#myTab a").click(function(e){
			e.preventDefault();
			var href_val = $(this).attr('href');
			$("#myTab .active").removeClass('active');
			$(this).parent().addClass('active');
			$(".tab-content .active").removeClass('active');
			$(href_val).addClass('active');

			// If #case-content is clicked, check if case_fetch_flag is false
			// if false, fetch the data using ajax. Turn flag True.
			// The same is done for bookmarks
			SPINNER_OPTS.height = 30;
			SPINNER_OPTS.rotation = 700;

			if (href_val === "#case-content" && !cases_fetch_flag) {
				var spinner = Spinners.create('#case-spinner', SPINNER_OPTS).play();
				spinner.center();
				$.ajax({
					url : "/fetch_case_studies/",
					method : "post",
					success: function(data){
						// Remove spinner on success
						spinner.remove();
						var case_data = $.parseJSON(data);

						// Iterate and create the case study UI
						$.each(case_data, function(index, value){
							$("#case-content").append('<div id="' + index + '" class="case-study-block btn">' + value + '</div>');
						});

						// Refresh the JS codes for whom selectors were not present earlier
						refreshPageJs();

						// Mark the flag true so that we can stop loading of cases the next time
						// user clicks the Case Study tab
						cases_fetch_flag = true;
						notify('Fetching cases successful!!!', "Find the cases in Case Studies tab", "success", {nonblock : true});
					},
					error: function(xhr, status, error){
						notify('Error fetching Cases', "There is a temporary problem in the server. Kindly be patient or Reload", "error", {nonblock : true});
					}
				});
			}
			// Fetch bookmarks of this user
			else if (href_val === "#bookmark-content" && !bookmark_fetch_flag) {
				var spinner = Spinners.create('#bookmark-spinner', SPINNER_OPTS).play();
				spinner.center();
				$.ajax({
					url : "/fetch_bookmarks/",
					method : "post",

					success: function(data){
						// Remove spinner on success
						spinner.remove();
						var case_data = $.parseJSON(data);
						bookmark_fetch_flag = true;
						notify('Fetching cases successful!!!', "Find the cases in Case Studies tab", "success", {nonblock : true});

					},
					error: function(xhr, status, error){
						notify('Error fetching Cases', "There is a temporary problem in the server. Kindly be patient or Reload", "error", {nonblock : true});
					}
				});
			}
		});


		

		// Action for pressing Add Case
		$("#add-case-study button").click(function(){
			window.location = "#add-case-study-modal";
		});



		// Submit the Add Case Study form to create the case study
		$("#create-case-study-form").submit(function(){
			$(this).ajaxSubmit({
				url : "/create_case_study/",
				type : "post",
				success : function(data, event){
					if (data !== 'failure') window.location = "/edit_case_study/" + data;
					else{
						// do something
					}
				}
			});
			return false;
		});
		
		// This code submits the form and in turn executes the 
		// code block just above it		
		$("#add-case-study-modal .modal-footer a").click(function(){
			$("#create-case-study-form").submit();
		});


		// Click on bookmark by default
		$("a[href='#bookmark-content']").trigger('click');
		

	});


	function refreshPageJs(){

	    // On hover over a case study, it becomes blue in color
	    $(".case-study-block").mouseenter(function(){
	        $(this).addClass("btn-info");
	    });

	    // On hover out of a case study, it becomes reverts to default color
	    $(".case-study-block").mouseleave(function(){
	        $(this).removeClass("btn-info");
	    });

	    // Redirect to the case edit page for the Case clicked
	    $(".case-study-block").click(function(){
	        window.location = "/view_case_study/" + $(this).attr('id');
	    });
	}
	</script>
{% endblock extrahead %}

{% block body_content %}

<!-- Add Case Study Modal -->
<div id="add-case-study-modal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Add Case Study</h3>
	</div>
	<div class="modal-body">
		<form action="" class="form-horizontal" id="create-case-study-form">
			{% csrf_token %}
			{{ create_case_form|bootstrap_horizontal }}
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary">Create Case Study</a>
	</div>
</div>

<!-- ///////////////////////////////////////////////// -->
	
<div class="container" id="tab-contents">
	<div class="navbar" id="local-nav-bar">
		<div class="navbar-inner">
			<ul class="nav pull-left" id="myTab">
				<li class="active" ><a href="#bookmark-content">Bookmarks</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#case-content">Case Studies</a></li>
			</ul>
			
			<form class="navbar-form pull-right">
				<input type="text" id="case-search-box" placeholder="Search" class="span2">
			</form>			
			<ul class="nav pull-right" id="add-case-study">
				<li><button id="add-case-study-button" type="button" href="#add-case-study-modal" data-toggle="modal" class="btn btn-success"><i class="iconic-o-plus"></i> Add Case</button></li>
				<li class="divider-vertical"></li>
			</ul>
		</div>
		
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="bookmark-content">
			<!-- Spinner is inserted here -->
			<div id="bookmark-spinner"></div>
		</div>
		<div class="tab-pane" id="case-content">
			<!-- Spinner is inserted here -->
			<div id="case-spinner"></div>
		</div>
	</div>
	
	
</div>


{% endblock body_content %}

{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.form.min.js"></script>
	

	<!-- If IE9 -->
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/excanvas.js"></script>
	<!-- End If -->
	
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/spinners.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}jquery_validation/js/languages/jquery.validationEngine-en.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery_validation/js/jquery.validationEngine.js"></script>
{% endblock javascripts %}