{% extends 'common_base.html' %}
{% load cavs_filters %}
{% load teaching_case_filters %}

{% block title %}
	Solve Subcase - {{ subcase_name }}
{% endblock title %}

{# ---------------- Breadcrumbs ---------------------- #}
{% block breadcrumb_breadcrumbs %}
	{{ block.super }}
	<li><a href="/plugins/core_hooks/{{ user_id }}/view_case_study/{{ case_id }}"><i class="iconic-document-alt"> View Case - {{ case_name }}</i></a> <span class="divider">></span></li>
	<li><a href="/plugins/core_hooks/{{ user_id }}/view_subcase/{{ subcase_id }}"><i class="iconic-document-alt"> View Subcase - {{ subcase_name }}</i></a> <span class="divider">></span></li>
	<li class="active"><i class="iconic-document-alt"> Solve Subcase - {{ subcase_name }}</i></li>
	
{% endblock breadcrumb_breadcrumbs %}
{# --------------------------------------------------- #}


{% block extrahead %}
	{{ block.super }}
	

	<link rel="stylesheet" href="{{ STATIC_URL }}core/css/edit_subcase.css">
	{% for css in css_includes %}
		<link rel="stylesheet" href="{{ css }}">
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_hooks/css/tags_style.css">

	<style type="text/css">
	legend{
		margin-bottom: 0;
	}

	.redactor_box .redactor_editor{
		overflow: hidden;
	}

	.redactor_box .redactor_editor:hover{
		overflow:auto;
	}

	</style>
	
<script type="text/javascript">
var section_menu_flag = false;

$(function(){
	// Activate all textareas so that on change well state is altered=true on load
	$('textarea[id^="answer_"]').change(mark_challenge_altered);

	$('#toolbox-save-answers').click(function(){
		var json_data = {};
		var altered_wells = $(".section[id$='-section']").not("#story-section");
		if (!$(altered_wells).find(".well[altered='true']").length) return false;
		$(altered_wells).each(function(){
			var well = $(this).find(".well[altered='true']");

			// Get section_id
			var section_id = $(this).attr('id');
			json_data[section_id] = {};

			
			$(well).each(function(){

				// Insert well id
				var well_id = $(this).attr('id');
				json_data[section_id][well_id] = {};

				$(this).find("div[id^='answer_'] textarea").each(function(){
					json_data[section_id][well_id][$(this).parent().attr('id')] = $(this).val();	
				});
				
				$(this).find("div[id^='dilemma_answer_'] textarea").each(function(){
					json_data[section_id][well_id][$(this).parent().attr('id')] = $(this).val();	
				});

				$(this).find("div[id^='choice_']").each(function(){
					json_data[section_id][well_id][$(this).attr('id')] = $(this).attr('status');	
				});

				
			})

			
		})
		console.log(JSON.stringify(json_data));

		$.ajax({
			url : "/plugins/core_hooks/save_answers/",
			method : 'post',
			data : {
				data : JSON.stringify(json_data),
				subcase_id : $("#this-subcase-id").val(),
				user_id : {{ user_id }}
			},
			success : function(data){
				notify("Success", "Answers successfully saved.", "success", {nonblock:true});
				$(altered_wells).find(".well[altered='true']").each(function(){
					// Mark the well as altered = false
					$(this).attr('altered','false');
				})
				$("#toolbox-save-answers").css('background-color', "");
			},
			error : function(xhr, status, error){
				notify("Error saving data", "Some error is preventing from saving the data. Try again in some time.", "danger", {nonblock:true});
			}
		})

	})

	// Mark all the selected choices with the color #9AFF91
	$("[id^='choice_'][status='true']").css('background-color','#9AFF91');

	// On mouseenter change the cursor to pointer shape
	// It also checks if status is active, if it is active then the color is not changed while entering.
	$("[id^='choice_']").mouseenter(function(event){
		if(!$(this).attr('status')) $(this).css('background-color',"#A3D6DD");
		$("textarea").css('cursor','pointer');
		$(this).css('cursor','pointer');
	});

	// On mouse leave, if status is not active, background-color is changed to white
	$("[id^='choice_']").mouseleave(function(){
		if(!$(this).attr('status')) $(this).css('background-color',"#fff");
	});
	

	// If a choice is clicked, its status is changed to active while deactivating the other active statuses in that well.
	// The background-color of the active element is also changed.
	// It also marks the well altered and activates the save button
	$("[id^='choice_']").click(function(event){
		if($(this).attr('status')) return false;
		$(this).parent().find("[id^='choice_']").each(function(){
			$(this).attr('status','');
			$(this).css('background-color',"#fff");
		})
		$(this).attr('status',true);
		$(this).css('background-color',"#9AFF91");
		$(this).parents(".well").attr("altered",true);
		$("#toolbox-save-answers").css('background-color', "#F41C1C");

		// If save is the last child, give it proper border radius
		if ($("#toolbox-save-answers").is(":last-child")) $("#toolbox-save-subcase,#toolbox-save-answers,#toolbox-save-comments").css('border-radius', '0 0 4px 0');
	})
})




</script>

{% endblock extrahead %}

{% block body_content %}

<!-- This input is necessary to pass the subcase_id to external js files -->
<input type="hidden" id="this-subcase-id" value="{{ subcase_id }}">
<input type="hidden" id="this-user-id" value="{{ user_id }}">
<input type="hidden" id="this-subcase-solve-mode" value="{{ solve_mode }}">
{% for key in sections.iterkeys %}
	<input type="hidden" class="subcase-default-sections" value="{{ key }}" class="hide">	
{% endfor %}



{# Toolbox #}
<div class="container" id="id-toolbox">
	<div id="id-header">
		<span>Toolbox</span>
	</div>
	<div id="{% if solve_mode %}toolbox-save-answers{% else %}toolbox-save-subcase{% endif %}">
		<span>
			<i class="iconic-cloud-upload"></i>
			<span>Save</span>
		</span>
	</div>
</div>
	

<div id="section-wrapper">
	{% if view_mode %}
	<div class="alert-message success pos-relative" id="id-case-name-info">
		<h4>{{ subcase_name }}</h4>
		<div class="btn-group">
			<button class="btn solve_subcase"><i class="iconic-lightbulb"></i>Solve</button>
			{% if user_id|can_edit_subcase:case_id %}
				<button class="btn edit_subcase"><i class="iconic-lightbulb"></i>Edit</button>
			{% endif %}
		</div>
	</div>
	{% endif %}

	<div class="container white-block section" id="story-section">
		<legend><span>Story</span></legend>
		<div class="text-display">
			{{ story|safe }}
		</div>
	</div>


	{% if subcase_data %}
		{% for key, value in subcase_data.iteritems %}
			{% include all_sections|get_section:key with section_id=key wells=value|sortdict_by_key %}
		{% endfor %}
	{% else %}
		{% for section_id, section in sections.iteritems %}
			{% include section with section_id=section_id %}
		{% endfor %}	
	{% endif %}
	
</div>

<div class="container footer-gap"></div>
{% endblock body_content %}

{% block javascripts %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}core/js/jquery_ui/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.autosize.js"></script>
	
	{% if solve_mode %}
	<!-- Files of arbor graph can be made to request dynamically, once when Show Relations button is clicked.
	But it is not being followed due to constraint of time.	
	However, it is important to improve the loading of the page and I hope someone does it down the line. -->
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/mxh7kqd.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/arbor.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/arbor-tween.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/arbor-graphics.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}arbor/js/renderer.js"></script>
	{% endif %}


	<!-- If IE9 -->
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/excanvas.js"></script>
	<!-- End If -->
	
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/spinners.min.js"></script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}selectize/js/standalone/selectize.min.js"></script>

	{# Add all section menu js provided from currently used subcase_hook #}
	{% for js in js_includes %}
		<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}
	
	

	<script type="text/javascript" src="{{ STATIC_URL }}core/js/edit_subcase.js"></script>
	<script type="text/javascript">

	{% if view_mode %}
		$("#id-case-name-info div.btn-group").css({'position' : 'absolute', 'top' : ($("#id-case-name-info .btn-group").height()/2 - 4) + 'px', 'right' : '10px'});
	{% endif %}


		// Bring toolbox to vertical middle
		var toolbox_height = $("#id-toolbox").height();
		$("#id-toolbox").css("margin-top",0-toolbox_height/2);
	</script>
{% endblock javascripts %}