{% extends 'common_base.html' %}

{% load cavs_filters %}

{% block title %}
	Profile
{% endblock title %}


{% block breadcrumb_breadcrumbs %}
	{% if request.user.is_authenticated %}
		{{ block.super }}
	{% endif %}
	<li class="active"><i class="iconic-document-alt">Profile</i></li>
{% endblock breadcrumb_breadcrumbs %}


{% block extrahead %}
	{{ block.super }}

	<style type="text/css">
	table{
		width: 70%;
	}

	textarea, input{
		width: 100%;
	}
	
	#about-me-field{
		height:100px;
	}

	#location-field{
		height:30px;
	}

	.section{
		text-align: center;
	}
	</style>

	<script type="text/javascript">
	$(function(){
		$("#about-me-field").autosize();


		$("#profile-form").ajaxForm({
			method : 'post',
			url : "",

		})
	})
	</script>
{% endblock extrahead %}

{% block body_content %}

<div id="section-wrapper">
	<div class="container white-block section">
		<legend>
			<span><i class="iconic-user"></i> Profile</span>
		</legend>
		<form action="/asa/" method="post" id="profile-form">
			<div id="profile-pic-field">
				<div class="fileupload fileupload-new" data-provides="fileupload">
					<div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;">
						<img src="{{ user_profile.profile_pic }}">
					</div>
					<div>
						<div class="btn btn-file">
							<span class="fileupload-new">Select image</span>
							<span class="fileupload-exists">Change</span>
							<input name="profile_image" type="file" id="profile-pic-field" />
						</div>
						<a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
						
					</div>
				</div>
			</div>

			<table>
				<tr>
					<td>Gender</td>
					<td>
						<div class="btn-group" data-toggle='buttons-radio' id="gender-field">
							<button type="button" class="btn {% if user_profile.gender == "m" %}active{% endif %}" value="yes" >Male</button>
							<button type="button" class="btn {% if user_profile.gender == "f" %}active{% endif %}" value="no">Female</button>
						</div>
						<input name="profile_gender" type="hidden">
					</td>
				</tr>
				<tr>
					<td>About Me</td>
					<td>
						<textarea id="about-me-field" name="profile_about_me">
							{% if user_profile.about_me %}
								{{ user_profile.about_me|trim }}
							{% endif %}	
						</textarea>
					</td>
				</tr>
				<tr>
					<td>Location</td>
					<td>
						<input id="location-field" type="text" value="{{ user_profile.location }}" name="profile_location">
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						{# <button id="profile-save-button" type="submit" class="btn btn-info fileupload-exists">Save</button> #}
						{# <input id="profile-save-button" type="submit" class="btn btn-info" value="Save"> #}
					</td>
				</tr>
			</table>
			<input id="profile-save-button" type="submit" class="btn btn-info" value="Save">
		</form>
	</div>
</div>
{% endblock body_content %}


{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.autosize.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.form.min.js"></script>
{% endblock javascripts %}