{% extends 'common_base.html' %}
{% load cavs_filters %}

{% block title %}
	Edit Subcase
{% endblock title %}

{# ---------------- Breadcrumbs ---------------------- #}
{% block breadcrumb_breadcrumbs %}
	{{ block.super }}
	<li><a href="/{{ user_id }}/edit_case_study/{{ case_id }}"><i class="iconic-document-alt"> Edit Case</i></a> <span class="divider">/</span></li>
	<li class="active"><i class="iconic-document-alt"> Edit Subcase</i></li>
{% endblock breadcrumb_breadcrumbs %}
{# --------------------------------------------------- #}

{% block extrahead %}
	{{ block.super }}
	

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}redactor/redactor.css"></link>
	<link rel="stylesheet" href="{{ STATIC_URL }}core/js/jquery_ui/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/editor.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}selectize/css/selectize.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}core/css/edit_subcase.css">
	{% for css in css_includes %}
		<link rel="stylesheet" href="{{ css }}">
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_hooks/css/tags_style.css">

	<style type="text/css">
	legend{
		margin-bottom: 0;
	}

	.redactor_box .redactor_editor{
		overflow: hidden;
	}

	.redactor_box .redactor_editor:hover{
		overflow:auto;
	}

	</style>
	
<script type="text/javascript">
var section_menu_flag = false;

$(function(){


	{# Show notification only if code is on appfog server #}
	{% if VCAP_SERVICES %}
	notify("Arrange sections", "You can arrange the sections by drag and drop. Hold on to header of section, drag and drop to arrange", "info");
	notify("Add delete questions/choices", "You can add/delete question and choices across various sections by clicking <button class='btn btn-success'><i class='iconic-plus'></i></button> and <button class='btn btn-danger'><i class='iconic-minus'></i></button> that slides out on hover over extra questions/choices respectively.", "info");
	notify("Add Challenges", "Add challenges in a section by clicking  <i class='iconic-cog'></i> icon on every section and then Add Section and delete challenge by clicking <button class='btn btn-primary'><i class='iconic-minus'></i></button>", 'info');
	{% endif %}
	
	
})




</script>

{% endblock extrahead %}

{% block body_content %}

<!-- This input is necessary to pass the subcase_id to external js files -->
<input type="hidden" id="this-subcase-id" value="{{ subcase_id }}">
{% for key in sections.iterkeys %}
	<input type="hidden" class="subcase-default-sections" value="{{ key }}" class="hide">	
{% endfor %}


{% include 'part_templates/tags/subcase_tags_context_menu.html' %}

{# Section Context menu #}
<div class="dropdown hide" id="id-contextmenu-template">
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
		{% for section_menu_item in section_menu_items %}
			<li><a tabindex="-1" href="javascript:void(0);" id="id-{{ section_menu_item|connect_by_hyphen }}">{{ section_menu_item }}</a></li>
		{% endfor %}
	</ul>
</div>

<!-- Add Settings Modal -->
<div id="subcase-settings-modal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><i class="iconic-o-minus"></i> Delete Subcase</h3>
	</div>
	<div class="modal-body">
		<div>Do you really want to delete this subcase???</div>
		<br>
		<div>
			<button type='button' class="btn btn-danger"> Yes</button>
			<button type='button' class="btn" data-dismiss="modal"> No</button>
		</div>
	</div>
</div>


<!-- Delete section confirmation -->
<div id="delete-section-confirmation-modal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><i class="iconic-o-minus"></i> Delete section???</h3>
	</div>
	<div class="modal-body">
		Do you really want to delete this section???
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="btn btn-danger">Yes</a>
		<a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal">No</a>
	</div>
</div>


<div id="section-wrapper">

	{% include 'part_templates/story.html' with section_id='story-section' %}
	{% include 'part_templates/tags/subcase_tags_section.html' with section_id='tags-block' %}
	{% if subcase_data %}
		{% for key, value in subcase_data.iteritems %}
			{% include all_sections|get_section:key with section_id=key wells=value|sortdict_by_key %}
		{% endfor %}
	{% else %}
		{% for section_id, section in sections.iteritems %}
			{% include section with section_id=section_id %}
		{% endfor %}	
	{% endif %}
	
</div>

<div class="container footer-gap"></div>
{% endblock body_content %}

{% block javascripts %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}redactor/redactor.js"></script>
	<script src="{{ STATIC_URL }}core/js/jquery_ui/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/editor.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.autosize.js"></script>
	
	<!-- If IE9 -->
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/excanvas.js"></script>
	<!-- End If -->
	
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/spinners.min.js"></script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}selectize/js/standalone/selectize.min.js"></script>

	{# Add all section menu js provided from currently used subcase_hook #}
	{% for js in js_includes %}
		<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}

	{% include 'part_templates/tags/subcase_tags_js.html' with row_id=subcase_id %}
	

	<script type="text/javascript" src="{{ STATIC_URL }}core/js/edit_subcase.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.color.min.js"></script>
	<script type="text/javascript">

	var EDITOR_AJAX_FLAG = false;

	// Bring toolbox to vertical middle
	var toolbox_height = $("#id-toolbox").height();
	$("#id-toolbox").css("margin-top",0-toolbox_height/2);
	</script>
{% endblock javascripts %}