{% extends 'common_base.html' %}

{% load cavs_filters %}

{% block title %}
	{{ case_name }}
{% endblock title %}

{% block breadcrumb_breadcrumbs %}
	{% if request.user.is_authenticated %}
		{{ block.super }}
	{% endif %}
	<li class="active"><i class="iconic-document-alt">View Case ({{ case_name }})</i></li>
{% endblock breadcrumb_breadcrumbs %}


{% block extrahead %}
	{{ block.super }}
	
	<link rel="stylesheet" href="{{ STATIC_URL }}core/js/jquery_ui/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/view_case_study.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datetimepicker/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_hooks/css/tags_style.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}selectize/css/selectize.css">
	<style type="text/css">
	legend{
		margin-bottom: 0;
	}
	
	#general-settings-form tr{
		margin:5px;
	}

	#general-settings-form tr td:first-child{
		padding-right:10px;
		font-size: 14px;
		text-align: right;
	}

	#general-settings-form tr:last-child td:first-child{
		padding:0;
	}

	.custom-state-active{
		background-color: #eee;
	}
	
	</style>

	<script type="text/javascript">
	$(function(){
		$("#fork-case-study-btn").click(function(){

		})

		$("#delete-case-study-btn").click(function(){
			$("#delete-case-study-pane .alert-warning").addClass("hide");
			$("#delete-case-study-pane .alert-danger").removeClass("hide");
		})

		$("#delete-case-study-cancel-btn").click(function(){
			$("#delete-case-study-pane .alert-danger").addClass("hide");
			$("#delete-case-study-pane .alert-warning").removeClass("hide");
		})

		$("#delete-case-study-confirm-btn").click(function(){
			$.ajax({
				url : "/delete_case_study/",
				method : 'post',
				data : {
					query : {{ case_id }}
				},
				success : function(data){
					window.location = "/";
				},
				error : function(xhr, status, error){

				}
			})
		})

		$('#general-settings-form input').css('height','30px');

		$("#case-deadline-formitem").datetimepicker({
			language : 'en',
			pick12HourFormat : false
		})

		$("#general-settings-form-submit").button();


		// Submit general form using ajax
		$("#general-settings-form-submit").click(function(){
			$(this).button('loading');
			var picker = $("#case-deadline-formitem").data('datetimepicker');
			$.ajax({
				url : "/save_case_general_settings/",
				type : 'post',
				data : {
					case_id : "{{ case_id }}",
					case_name : $("#case-name-formitem").val(),
					deadline : picker.getLocalDate(),
					publish : $("#case-publish-formitem .active").val(),
					company_name : $("#case-company-name-formitem").val()
				},
				success : function(data, event){
					if (data !== '0') $("#general-settings-form-submit").button('reset');
				},
				error : function(){
					$("#general-settings-form-submit").button('reset');
				}
			});
		})

		$("#general-settings-form-submit").submit(function(){
			$("#general-settings-form").ajaxSubmit({
				url : "/save_case_general_settings/",
				type : 'post',
				success : function(data, event){
					if (data !== '0') $("#general-settings-form-submit").button();
				},
				error : function(){
					console.log("working");
					$("#general-settings-form-submit").button();
				}
			});
		})

		// On click on permissions tab in settings, load all the collaborators and moderators
		$("#case-access-permissions-tab").click(function(){
			$.ajax({
				url : "/fetch_collaborators_and_moderators/",
				type : "post",
				dataType : 'json',
				data : {
					query : "{{ case_id }}"
				},
				success : function(data){
					// Empty the wells before reloading again
					$(".sortable-div").empty();

					$.each(data.collaborators, function(index, value){
						var item = $('<div></div>').addClass('sortable-item').text(value.full_name).attr('id',value.id);
						item.draggable({
							revert : 'invalid',
							cursor : 'move'
						});
						item.appendTo("#collaborator-well .sortable-div");
					})

					$.each(data.moderators, function(index, value){
						var item = $('<div></div>').addClass('sortable-item').text(value.full_name).attr('id',value.id);

						// Enable draggable on the new items
						item.draggable({
							revert : 'invalid',
							cursor : 'move'
						});
						item.appendTo("#moderator-well .sortable-div");
					})
				},
				error : function(xhr, status, error){

				}
			})
		})

		// Accept drop from moderator
		$("#collaborator-well .sortable-div").droppable({
			accept : "#moderator-well .sortable-item",
			activeClass : "custom-state-active",
			context : this,
			drop : function(event, ui){
				var item = $(ui.draggable);

				$.ajax({
					url : "/add_collaborator_remove_moderator/",
					type : "post",
					context : this,
					data : {
						case_id : "{{ case_id }}",
						user_id : $(item).attr('id')
					},
					success : function(data){
						$(item).css({'left' : 'auto', 'top' : 'auto'}).appendTo($(this));
					},
					error : function(xhr, status, error){
						$("#case-access-permissions-tab").trigger('click');
					}
				})
				
			}
		})


		// Accept drop from collaborator
		$("#moderator-well .sortable-div").droppable({
			accept : "#collaborator-well .sortable-item",
			activeClass : "custom-state-active",
			context : this,
			drop : function(event, ui){
				var item = $(ui.draggable);

				$.ajax({
					url : "/add_moderator_remove_collaborator/",
					type : "post",
					context : this,
					data : {
						case_id : "{{ case_id }}",
						user_id : $(item).attr('id')
					},
					success : function(data){
						$(item).css({'left' : 'auto', 'top' : 'auto'}).appendTo($(this));
					},
					error : function(xhr, status, error){
						$("#case-access-permissions-tab").trigger('click');
					}
				})
			}
		})
	})
	</script>

{% endblock extrahead %}

{% block body_content %}
<input type="hidden" id="this-case-id" value="{{ case_id }}">
<input type="hidden" id="this-user-id" value="{{ user_id }}">


<!-- Add Settings Modal -->
<div id="case-settings-modal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><i class="iconic-cog"></i> Settings</h3>
	</div>
	<div class="modal-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#set-deadline-pane" data-toggle="tab">General</a></li>
			<li id="case-access-permissions-tab"><a href="#case-access-permissions-pane" data-toggle="tab">Permissions</a></li>
			<li><a href="#delete-case-study-pane" data-toggle="tab">Delete</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="set-deadline-pane">

				<!--//////////////////////////////////// General settings form //////////////////////////////////////////-->
				<div id="general-settings-form" class="well">
					<table>
						<tr>
							<td>Case Name</td>
							<td><input type="text" id="case-name-formitem" placeholder="Name" value="{{ case_name }}"></td>
						</tr>
						<tr>
							<td>Company Name</td>
							<td><input type="text" id="case-company-name-formitem" placeholder="Name" value="{{ company_name }}"></td>
						</tr>
						<tr>
							<td>Publish</td>
							<td>
								<div class="btn-group" data-toggle='buttons-radio' id="case-publish-formitem">
									<button type="button" class="btn {% if is_published %}active{% endif %}" value="yes" >Yes</button>
									<button type="button" class="btn {% if not is_published %}active{% endif %}" value="no">No</button>
								</div>
							</td>
						</tr>
						<tr class="hide">
							<td>Submission deadline</td>
							<td>
								<div id="case-deadline-formitem" class="input-append">
									<input data-format="yyyy-MM-dd HH:mm:ss PP" type="text" placeholder="Submission deadline"></input>
									<span class="add-on">
										<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<button type="button" id="general-settings-form-submit" class="btn btn-success" data-loading-text="Saving...">Save</button>
							</td>
						</tr>
					</table>
					
				</div>
				<!--//////////////////////////////////// General settings form END //////////////////////////////////////////-->
			</div>





			<div class="tab-pane" id="case-access-permissions-pane">
				<h4>Drag and drop collaborators and moderators to assign</h4>
				<div class="well well-left" id="collaborator-well">
					<h5>Collaborators</h5>
					<div class="sortable-div">

					</div>
				</div>
				<div class="well well-right" id="moderator-well">
					<h5>Moderators</h5>
					<div class="sortable-div">

					</div>
				</div>
			</div>
			



			<div class="tab-pane" id="delete-case-study-pane">
				<div class="alert alert-warning">
					<h4>Delete case study</h4>
					<hr>
					<button class="btn btn-warning" id="delete-case-study-btn">Delete</button>
				</div>
				<div class="alert alert-danger hide">
					<h4>Do you really want to delete??? Think again!!!</h4>
					<hr>
					<button class="btn btn-danger" id="delete-case-study-confirm-btn">Delete</button>
					<button class="btn" id="delete-case-study-cancel-btn">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>



{% include 'part_templates/tags/case_tags_context_menu.html' %}


<div id="section-wrapper">
	<div class="alert-message success pos-relative" id="id-case-name-info">
		<h4>{{ case_name }}</h4>
		
		<div class="btn-group">
			<button class="btn" id="fork-case-study-btn" type="button" href="#fork-case-study-modal" data-toggle="modal"><i class="icon-fire"></i> Fork</button>

			{% if request.user.is_authenticated %}
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<i class="caret"></i>&nbsp;
			</button>
			
			<ul class="dropdown-menu">
			
				<li>
					{% if user_id|is_moderator:case_id or user_id|is_collaborator:case_id %}
					<a href="/edit_case_study/{{ case_id }}"><i class="iconic-pen"></i> Edit</a>
					{% endif %}
					{% if user_id|is_moderator:case_id %}
					<a href="/plugins/core_hooks/evaluate_case_study/{{ case_id }}"><i class="iconic-check"></i> Evaluate</a>
					{% endif %}
					<a href="#case-settings-modal" data-toggle="modal"><i class="iconic-cog"></i> Settings</a>
				</li>
			{% endif %}
			</ul>
		</div>
	</div>


	<div class="container white-block section" id="story-section">
		<legend><span>Story</span></legend>
		<div class="text-display">
			{{ story|safe }}
		</div>
	</div>

	{% include 'part_templates/tags/case_tags_section.html' %}

	<div class="section pos-relative two-col-section">
		<div class="container white-block section-half section-half-left pos-absolute">
			<legend><span>Subcases</span></legend>
			<div class="text-display">
				<ul class="list-no-decoration">
				{% for subcase in subcases %}
					<li>
						<a href="/plugins/core_hooks/view_subcase/{{ subcase.id }}" id="subcase-{{ subcase.id }}">{{ subcase.name }}</a>
					</li>
				{% endfor %}	
				</ul>
				
			</div>
		</div>
		<div class="container white-block section-half section-half-right pos-absolute">
			<legend><span>Collaborators</span></legend>
			<div class="text-display">
				<ul class="list-no-decoration">
					{% for collaborator in collaborators.moderators %}
						<li>
							<a href="" class="moderator-color">{{ collaborator }}</a>
						</li>
					{% endfor %}

					{% for collaborator in collaborators.collaborators %}
						<li>
							<a href="">{{ collaborator }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="footer-gap"></div>
{% endblock body_content %}

{% block javascripts %}
	{{ block.super }}
	<script src="{{ STATIC_URL }}core/js/jquery_ui/js/jquery-ui.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/excanvas.js"></script>
	<!-- End If -->
	
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/spinner/spinners.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	
	{% include 'part_templates/tags/case_tags_js.html' with row_id=case_id view_mode=view_mode %}

	<script type="text/javascript">
	// Get the btn-group in #id-case-name-info to its right position
	$("#id-case-name-info div.btn-group").css({'position' : 'absolute', 'top' : ($("#id-case-name-info .btn-group").height()/2 - 4) + 'px', 'right' : '10px'});


	// Needed for proper alignment of two column sections
	$(".two-col-section").css('height',$('.two-col-section .section-half-right').height() > $('.two-col-section .section-half-left').height() ? $('.two-col-section .section-half-right').height() : $('.two-col-section .section-half-left').height());
	

	</script>
{% endblock javascripts %}