@import url('base.css');

body{
	background-color: #DADADA;
}


/*#body_content{
	top:30px;
	position:relative;
}
*/

#global-search-box{
	height: 30px;
	width: 400px;
	font-size: 18px;
	padding-left: 5px;
	background-color: #fff;
	border: 2px solid grey;
	border-radius: 4px;
	margin-top: 3px;
	padding-left: 0;
}

#search-select{
	float: left;
	width: 10%;
	text-align: center;
	font-size: 14px;
	/*height:100%;*/
	cursor: pointer;
	color: #DADADA;
	word-spacing: nowrap;
	background-image: -moz-linear-gradient(top, #b5b5b5, #6b6b6b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b5b5b5), to(#6b6b6b));
	background-image: -webkit-linear-gradient(top, #b5b5b5, #6b6b6b);
	background-image: -o-linear-gradient(top, #b5b5b5, #6b6b6b);
	background-image: linear-gradient(to bottom, #b5b5b5, #6b6b6b);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	padding:5px 0 5px 0;
}

#search-select{
	font-size: 20px;
}

#search-box{
	padding-left:5px;
	width: 90%;
	height:100%;
	margin:0;
}

#search-box:focus{
	outline: 0;
}

#global-nav-bar{
	background-color: #000;
}

#global-navbar-inner{
	padding:0 15px 0 15px;
}

/*#global-search-box .selectize-control{
	width:90%;
	margin:0;
	margin-left:40px;
}
*/
#global-search-box .selectize-input{
	width:100%;
	padding:5px;
	border:0;
}

#global-search-box .selectize-input:focus{
	outline:0;
}

#global-search-box .selectize-dropdown-content div:hover, #global-search-box .selectize-dropdown-content div.active{
	background-color: #0081c2;
	color:#fff;
}

.global-searchbox-option-desc{
	font-size: 10px;
}