@import url('base.css');

#subcase-name-block{
	margin-top:80px;
	height: 100px;
}

#subcase-name-block input{
	width:90%;
	height:40px;
	margin: 10px 0 0 10px;
}

.container legend span{
	padding:5px 0 5px 15px;
}

/*#template-block, #story-context-block, #submit-cancel-block, #case-type-block{
	height:200px;
	margin-top: 40px;
}
*/

#submit-cancel-block{
	height: 100px;
}

#submit-cancel-block button{
	min-width:100px;
	height: 40px;
}

#template-list, #case-type-list{
	height: 130px;
	margin:10px;
	white-space: nowrap;
	overflow-x:hidden;
}


/*#story-context-block{
	height:500px;
}*/


/* Editor CSS */
/*#editor-complementary-buttons, #add-case-type-btn, #add-template-btn{
	padding:0;
	margin: 0;
	position: absolute;
	top:5px;
	right:10px;
}
*/