/* Editor CSS */
#editor.editmode{
	min-height: 200px;
	max-height: 400px;
	overflow:hidden;
}

#editor.editmode:hover{
	overflow:auto;
}

#editor.savemode{
	min-height: 200px;
	max-height: 400px;
	overflow:hidden;
	font-size: 15px;
}

#editor.savemode:hover{
	overflow-y:auto;
}

.hero-unit#editor-space{
	border-radius: 0 0 5px 5px;
	padding: 10px;
	margin-bottom: 0;
	min-height:200px;	
}

.background-white {
	background-color: #fff;
}


#view-space{
	overflow:hidden;
}

#view-space:hover{
	overflow:auto;
}


