@import url('base.css');



#notification-block{
	margin-top: 80px;
}

#notification-block .alert{
	width:90%;
}

#story-block{
	margin-top: 80px;
}

#my-subcases-block{
	min-height:10px;
	margin-top: 40px;
}

#my-collaborators-block{
	min-height: 10px;
}

#select-collaborators{
	margin:auto;
	width:90%;
}

#save-spinner{
	height: 40px;
	width: 40px;
}

#subcase-list{
	height: 130px;
	margin:10px;
}

#subcase-list:hover{
	overflow-x: auto;
}



#add-subcase-btn span{
	margin-top: 100px;
	left:10%;
}


#ask-for-story{
	text-align: center;
	margin-top: 140px;
}

#ask-for-story ul{
	list-style: none;
}

#ask-for-story ul li{
	padding: 10px 0 10px 0;
}

#ask-for-story-separator{
	font-size: 30px;
	color: #6D6D6D;
}

#file-extension-info{
	font-size: 10px;
	color: red;
}

#next-btn-block{
	margin-top: 50px;

}

#next-btn-block button{
	width:120px;
	height:40px;
	font-size: 18px;
	font-weight: bold;
}

#story-legend{
	position: relative;
}


.container legend span{
	padding:5px 0 5px 15px;
}


.edit-icon{
	color: #FF4242;
	font-size: 15px;
	cursor: pointer;
	
}

#my-collaborators-block .select-holder{
	padding:10px;
}

/*.tab-content{
	height:270px;
	overflow: inherit;
}
*/
