@import url('base.css');

#id-toolbox{
	background-color: #656565;
	width: 100px;
	min-height: 0px;
	position: fixed;
	top:50%;
	left: 0px;

	border-radius: 0 5px 5px 0;
	border-top: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	color: #FFFFFF;
	font-size: 12px;
}



#id-toolbox div{
	padding:5px 0 5px 0;
	cursor: default;
}

#id-toolbox div span{
	margin-left: 5px;
}

#id-toolbox div:hover{
	background-color: #4A4A4A;
	cursor: pointer;
}

#id-toolbox div:hover:last-child{
	border-radius: 0 0 5px 0;
}

#id-toolbox #id-header{
	height: 30px;
	font-size: 16px;
	background-color: #4A4A4A;
	border-radius: 0 5px 0 0;
	margin-left: 0;
	padding:0;
}

#id-toolbox #id-header:hover{
	cursor: default;
}

#id-toolbox #id-header span{
	margin-left: 10px;
}



.white-block{
	min-height: 0px;
}

/*.ui-sortable-helper{
	left:200px;
	opacity: 0.7;
}
*/

.sortable-placeholder{
	background-color: #f3f3f3;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
	width:50px;
	height:60px;
}

#subcase-settings-modal{
	background-color: #FFB6B6;
}

.footer-gap{
	height:300px;
}


#id-case-name-info .btn-group{
	position: absolute;
	top:0;
	right: 0;
}
