/*
Color templates used:
#DADADA
#616161
#333333

*/

@import url('base.css');



#id-login-signup-block{
	margin-top:50px;
	height: 550px;
	width: 500px;
	/*border: 2px solid #969696;*/
	border-bottom: 1.5px solid #C4C4C4;
	border-left: 1.5px solid #E0E0E0;
	border-right: 1.5px solid #E0E0E0;
	background-color: #fff;
}



#id-login{
	height: 190px;
	border-bottom: 1px dashed #C4C4C4;
}

#id-signup{
	height: 100%;
}

#id-login-signup-block #id-login input, #id-login-signup-block #id-signup input{
	height: 30px;
}

#signup-alert-message{
	display: hidden;
}

.valid {
	color: green;
}

.invalid {
	color: red;
}

.control-group{
	height:20px;
}

.container legend{
	background-color: #fff;

}