@import url('base.css');

#tab-contents{
	width: 80%;
	height: 550px;
	margin-top: 80px;
	background-color: #fff;
	box-shadow: 0 0 20px 0.5px rgba(0,0,0,0.7);
	border-radius: 5px;
}

#case-search-box{
	height:28px;
}

#add-case-study{
	margin-left: 10px;
}

#add-case-study i{
	color:#FFFFFF;
}

#add-case-study-modal input{
	height:40px;
}

.tab-content .tab-pane{
	height:450px;
	width: 97%;
	background-color: #DADADA;
	border-radius: 10px;
	border: 2px solid #BFBFBF;
	overflow: hidden;
}

.tab-content .tab-pane:hover{
	overflow-y:auto;
}

.case-study-block{
	width:150px;
	height:150px;
	background-color: #fff;
	margin:5px;
}
