@import url("base.css");

#id-case-name-info .btn-group{
	position: absolute;
	top:0;
	right: 0;
}

#story-section .text-display{
	max-height: 300px;
	overflow-y:hidden;
}

#story-section .text-display:hover{
	overflow-y:auto;
}

#subcase-section{
	min-height:10px;
	margin-top: 40px;
}

#subcase-list{
	height: 130px;
	margin:10px;
}

#subcase-list:hover{
	overflow-x: auto;
}

.moderator-color{
	color:#EB6A27;
}

#case-settings-modal .nav-tabs{
	margin-bottom: 0;
}

#case-access-permissions-pane .well{
	padding: 0;
	margin:0;
	height: 200px;
	width: 48.5%;
	float: left;
}

#case-access-permissions-pane .well-left{
	margin-right: 11px;	
}


#case-access-permissions-pane h5{
	text-align: center;
}

.sortable-div{
	height:160px;
}