{% extends 'common_base.html' %}

{% block title %}
	{{ case_name }}
{% endblock title %}

{% block breadcrumb_breadcrumbs %}
	{% if request.user.is_authenticated %}
		{{ block.super }}
	{% endif %}
	<li><a href="/view_case_study/{{ case_id }}"><i class="iconic-document-alt">View Case ({{ case_name }})</i></a><span class="divider">></span></li>
	<li class="active"><i class="iconic-document-alt">View Response List</i></li>
{% endblock breadcrumb_breadcrumbs %}


{% block extrahead %}
	{{ block.super }}

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_hooks/css/evaluate_case_study.css">
	<style type="text/css">
	legend{
		margin-bottom: 0;
	}

	</style>

{% endblock extrahead %}


{% block body_content %}
<div id="section-wrapper">
	<div class="alert-message success pos-relative" id="id-case-name-info">
		<h4>{{ case_name }}</h4>
	</div>

	<div class="container section white-block">
		<legend>
			<span>Users who answered</span>
		</legend>
		<div id="answered-user-list">
			{% for user_obj in users_answered %}
				<div class="well">
					<div class="user_name"><a href="/plugins/core_hooks/evaluate_answers/{{ user_obj.id }}/{{ case_id }}">{{ user_obj.first_name }} {{ user_obj.last_name }}</a></div>
				</div>
			{% endfor %}
		</div>
	</div>

</div>
{% endblock body_content %}