{% extends 'common_base.html' %}
{% load cavs_filters %}
{% load teaching_case_filters %}



{% block title %}
	Evaluate Answers
{% endblock title %}

{% block breadcrumb_breadcrumbs %}
	{% if request.user.is_authenticated %}
		{{ block.super }}
	{% endif %}
	<li><a href="/view_case_study/{{ case_id }}"><i class="iconic-document-alt">View Case ({{ case_id|get_case_name }})</i></a><span class="divider">></span></li>
	<li><a href="/plugins/core_hooks/evaluate_case_study/{{ case_id }}"><i class="iconic-document-alt">View Response List</i></a><span class="divider">></span></li>
	<li class="active"><i class="iconic-document-alt">Evaluate Answers ({{ user_id|get_user_name }})</i></li>
{% endblock breadcrumb_breadcrumbs %}


{% block extrahead %}
	{{ block.super }}
	{% for css in css_includes %}
		<link rel="stylesheet" href="{{ css }}">
	{% endfor %}
	<link rel="stylesheet" href="{{ STATIC_URL }}core/css/edit_subcase.css">
	<style type="text/css">
	legend{
		margin-bottom: 0;
	}

	#next-prev-controls{
		margin-top:12px;
		margin-right: 10px;
	}

	</style>

	<script type="text/javascript">

	function array_length(arr){
		var len = 0;
		$.each(arr, function(key, value){
			len += 1;
		})
		return len;
	}

	// Refresh codes on initiation
	$(function(){
		// Mark all the selected choices with the color #9AFF91
		$("[id^='choice_'][status='true']").css('background-color','#9AFF91');

		// Activate all textareas so that on change well state is altered=true on load
		$('textarea[id^="comment_"]').change(mark_challenge_altered);

		$('#toolbox-save-comments').click(function(){
			var json_data = {};
			var altered_wells = $(".well[altered='true']");
			if (!$(altered_wells).length) return false;
			$(altered_wells).each(function(){
				var well = $(this);

				var subcase_id = $(this).attr('subcase_id');
				if(typeof json_data[subcase_id] == 'undefined') json_data[subcase_id] = {};


				// Get section_id
				var section_id = $(this).attr('section_key');
				if(typeof json_data[subcase_id][section_id] == 'undefined') json_data[subcase_id][section_id] = {};

				$(well).each(function(){

					// Insert well id
					var well_id = $(this).attr('id');
					// console.log(section_id);
					json_data[subcase_id][section_id][well_id] = {};
					// if($.isEmptyObject(json_data[subcase_id][section_id])){

					// 	json_data[subcase_id][section_id][well_id] = {};

					// } 
					// console.log(json_data[subcase_id][section_id][well_id]);
					$(this).find("div[id^='comment_'] textarea").each(function(){
						json_data[subcase_id][section_id][well_id][$(this).parent().attr('id')] = $(this).val();	
					});

					$(this).find("div[id^='dilemma_comment_'] textarea").each(function(){
						json_data[subcase_id][section_id][well_id][$(this).parent().attr('id')] = $(this).val();	
					});

					
				})
				
			})
			console.log(JSON.stringify(json_data));

			$.ajax({
				url : "/plugins/core_hooks/save_comments/",
				method : 'post',
				data : {
					data : JSON.stringify(json_data),
					user_id : {{ user_id }}
				},
				success : function(data){
					notify("Success", "Comments successfully saved.", "success", {nonblock:true});
					$(altered_wells).each(function(){
						console.log($(this));
						// Mark the well as altered = false
						$(this).attr('altered','false');
					})
					$("#toolbox-save-comments").css('background-color', "");
				},
				error : function(xhr, status, error){
					notify("Error saving data", "Some error is preventing from saving the data. Try again in some time.", "danger", {nonblock:true});
				}
			})

		})

		
		// Redirects to the prev user
		$("#btn-prev").click(function(){
			window.location = "/plugins/core_hooks/evaluate_answers/{{ prev_user_id }}/{{ case_id }}/";
		})

		// Redirects to the next user
		$("#btn-next").click(function(){
			window.location = "/plugins/core_hooks/evaluate_answers/{{ next_user_id }}/{{ case_id }}/";
		})

		// Redirects to the next user
		$("#btn-view-all-users").click(function(){
			window.location = "/plugins/core_hooks/evaluate_case_study/{{ case_id }}/";
		})

	})
    

	</script>

{% endblock extrahead %}

{% block body_content %}
<input type="hidden" id="this-subcase-id" value="{{ subcase_id }}">
<input type="hidden" id="this-user-id" value="{{ user_id }}">
<input type="hidden" id="this-subcase-evaluation-mode" value="{{ evaluation_mode }}">

<div class="container" id="id-toolbox">
	<div id="id-header">
		<span>Toolbox</span>
	</div>

	<div id="toolbox-save-comments">
		<span>
			<i class="iconic-cloud-upload"></i>
			<span>Save</span>
		</span>
	</div>
</div>



<div id="section-wrapper">
	<div class="alert-message success pos-relative" id="id-case-name-info">
		<h4>{{ user_id|get_user_name }}</h4>
		<div class="btn-group" id="next-prev-controls">
			{% if prev_user_id %}
				<button class="btn" id="btn-prev"><i class="icon-chevron-left"></i> Prev</button>
			{% endif %}
			<button class="btn" id="btn-view-all-users"><i class="icon-user"></i> View All</button>
			{% if next_user_id %}
				<button class="btn" id="btn-next">Next <i class="icon-chevron-right"></i></button>
			{% endif %}
			
		</div>
	</div>


	<div class="container white-block section">
		<legend><span>{{ case_id|get_case_name }}</span></legend>
		<div id="answers-block" class="section-content">
			{% if subcase_data %}
				{% for subcase_key, subcase_value in subcase_data.iteritems %}
					{% for key, value in subcase_value.iteritems %}
						{% with path=all_sections|get_section:key|compute_well_path %}
						    {% include path with wells=value|sortdict_by_key view_mode=evaluation_mode section_key=key subcase_id=subcase_key %}
						{% endwith %}
					{% endfor %}
				{% endfor %}
			{% else %}
				{% for section_id, section in sections.iteritems %}
					{# {% include section with section_id=section_id %} #}
				{% endfor %}	
			{% endif %}
		</div>
	</div>

</div>

<div class="footer-gap"></div>

{% endblock body_content %}


{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.autosize.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core_hooks/js/evaluate_answers.js"></script>
	{# Add all section menu js provided from currently used subcase_hook #}
	{% for js in js_includes %}
		<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}

	
{% endblock javascripts %}