{% load cavs_filters %}

<!-- Tag object template -->
	

<div class="span2 alert-message warning hide" id="tag-object">
	<a class="close" data-dismiss="alert"><i class="icon-chevron-down"></i></a>
	<div class="dropdown hide">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
			<li>
				<a href="javascript:void(0)" role="menuitem" class="collapse-section delete-tag" id="all">
					Delete
				</a>
			</li>
		</ul>
	</div>

	<h5></h5>
	<p class="confirm-actor-deletion">Do you really want to delete this actor?</p>
	<p class="confirm-actor-deletion">
		<button class="btn btn-danger actor-approve-delete">Delete</button>
		<button class="btn actor-cancel-delete">Cancel</button>
	</p>
</div>

<div class="dropdown" id="tags-menu">
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
		{% block populate_items %}
			{% for tab in case_tags_obj %}
				<li><a tabindex="-1" href="javascript:void(0)" id="add-as-{{ tab|lower|connect_by_hyphen }}">Add as {{ tab|lower }}</a></li>
			{% endfor%}	
		{% endblock populate_items %}
	</ul>
</div>

<!-- /////////////////////////////////////////////////////////////////////////// -->
