{% load cavs_filters %}

<div class="container white-block section" id="tags-block">
	<legend><span>Tags</span></legend>
	<ul class="nav nav-tabs" id="tag-tabs">
		{% for tab in case_tags_obj %}
			<li {% if forloop.first %}class="active"{% endif %}><a href="#{{ tab|lower|connect_by_hyphen }}-tab-pane"  data-toggle="tab">{{ tab }}s</a></li>
		{% endfor%}
	</ul>

	<div class="tab-content">
		{% for tab in case_tags_obj %}
		<div class="tab-pane fade in {% if forloop.first %}active{% endif %}" id="{{ tab|lower|connect_by_hyphen }}-tab-pane">

		</div>
		{% endfor%}
	</div>
</div>
