{% extends 'part_templates/tags/tags_js.html' %}

{% block extra_block %}
	<script type="text/javascript" src="{{ STATIC_URL }}core_hooks/js/subcase_tags_section.js"></script>
	{% for tag_obj in subcase_tags_obj %}
		{% for js in tag_obj.get_other_js_paths %}
			<script type="text/javascript" src="{{ js }}"></script>	
		{% endfor %}
	{% endfor %}
{% endblock extra_block %}


{% block add_tags_url_block %}
	{% if not view_mode %}
		{% with add_tags_url='"/save_subcase_tags/"' %}
			{{ block.super }}
		{% endwith %}
	{% endif %}
{% endblock add_tags_url_block %}



{% block fetch_tags_url_block %}
	{% with fetch_tags_url='"/fetch_subcase_tags/"' %}
		{{ block.super }}
	{% endwith %}
{% endblock fetch_tags_url_block %}


{% block delete_tags_url_block %}
	{% if not view_mode %}
		{% with delete_tags_url='"/delete_subcase_tags/"' %}
			{{ block.super }}
		{% endwith %}
	{% endif %}
{% endblock delete_tags_url_block %}

