{% extends 'part_templates/tags/case_tags_context_menu.html' %}
{% load cavs_filters %}

{% block populate_items %}
	{% for tab in subcase_tags_obj %}
		<li><a tabindex="-1" href="javascript:void(0)" id="add-as-{{ tab|lower|connect_by_hyphen }}">Add as {{ tab|lower }}</a></li>
	{% endfor%}	
{% endblock populate_items %}