{% extends 'part_templates/base_section.html' %}

{% load cavs_filters %}

{% block section_name %}Tags{% endblock section_name %}

{% block section_controls %}
	{{ block.super }}
{% endblock section_controls %}

{% block section_content %}
	<ul class="nav nav-tabs" id="tag-tabs">
		{% for tab in subcase_tags_obj %}
			<li {% if forloop.first %}class="active"{% endif %}><a href="#{{ tab|lower|connect_by_hyphen }}-tab-pane"  data-toggle="tab">{{ tab }}s</a></li>
		{% endfor%}
	</ul>

	<div class="tab-content">
		{% for tab in subcase_tags_obj %}
		<div class="tab-pane fade in {% if forloop.first %}active{% endif %}" id="{{ tab|lower|connect_by_hyphen }}-tab-pane">

		</div>
		{% endfor%}
	</div>
{% endblock section_content %}

