{% load bootstrap %}

{% block extra_block %}
	
{% endblock extra_block %}

<script type="text/javascript">
// A flag to check if the tags are already imported
var tab_ajax_flag = false;

// Callback for edit actor. Used by ActorTagOptionEditInfo hook
// Refer: cavs/core/hooks.py
function actor_edit_callback(event){
	var tag_index = $(this).parents(".tag-object").attr('index');
	
	$.ajax({
		url : "/fetch_case_tags_actor_details/",
		method : 'post',
		data : {
			query : tag_index
		},
		dataType : 'json',
		success : function(data){
			console.log(data);
			// If the modal is already present in DOM then no need to create it.
			// But if not then create it and insert it into DOM
			if(!$("#tag-settings-modal-" + tag_index).length){
				var new_modal = $('<div id="tag-settings-modal-' + tag_index + '" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" tag-index=\"' + tag_index + '\"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="myModalLabel">Change tag data</h3></div><div class="modal-body" align="center"><div><input type="text" id="data" placeholder="Tag Data" value="" style="height:30px;" title="Tag Data"></div><div><input type="text" value="" id="name" placeholder="Name" style="height:30px;" title="Name"></div><div><input type="text" value="" id="company" placeholder="Company Name" style="height:30px;" title="Company Name"></div><div><input type="text" value="" id="email" placeholder="Email" style="height:30px;" title="Email"></div><div><input type="text" value="" id="phone" placeholder="Phone" style="height:30px;" title="Phone Number"></div></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><button class="btn btn-primary">Save changes</button></div></div>');
				

			}else{
				var new_modal = $("#tag-settings-modal-" + tag_index);
			}

			if(data.status === "1"){
				
				$(new_modal).find('#name').val(data.name);
				$(new_modal).find('#email').val(data.email);
				$(new_modal).find('#phone').val(data.phone);
				$(new_modal).find('#company').val(data.company);
			}
			$(new_modal).find('#data').val(data.data);
			
			// Bind save to click only once
			if(!$("#tag-settings-modal-" + tag_index).length){
				$(new_modal).find(".btn-primary").click(function(){
					$.ajax({
						url : '/save_case_tags_actor_details/',
						type : 'post',
						context : this,
						data : {
							tag_id : tag_index,
							name : $(new_modal).find("#name").val(),
							email : $(new_modal).find("#email").val(),
							phone : $(new_modal).find("#phone").val(),
							company : $(new_modal).find("#company").val(),
							data : $(new_modal).find("#data").val()
						},
						dataType : 'json',
						success : function(data, event){
							if(data.status === '1'){
								var href = "#" + $(".tag-object[index=\'" + tag_index + "\']").parent().attr("id");
								$("a[href='" + href + "'").trigger('click');
								$(this).prev().trigger('click');
							}
						},
						error : function(xhr, status, error){
							console.log("didn't work");
						}
					});
				})


				// Finally append the modal to DOM
				$(new_modal).appendTo("body");
			}

			// Show and hide modal
			$(new_modal).modal('toggle');			
		},
		error : function(xhr, status, error){

		}
	})

}

// Callback for edit actor. Used by ActorTagOptionEditInfo hook
// Refer: cavs/core/hooks.py
function actor_subcase_edit_callback(event){
	var tag_index = $(this).parents(".tag-object").attr('index');
	
	$.ajax({
		url : "/fetch_subcase_tags_actor_details/",
		method : 'post',
		data : {
			query : tag_index
		},
		dataType : 'json',
		success : function(data){
			// If the modal is already present in DOM then no need to create it.
			// But if not then create it and insert it into DOM
			if(!$("#tag-settings-modal-" + tag_index).length){
				var new_modal = $('<div id="tag-settings-modal-' + tag_index + '" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" tag-index=\"' + tag_index + '\"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="myModalLabel">Change tag data</h3></div><div class="modal-body" align="center"><div><input type="text" id="data" placeholder="Tag Data" value="" style="height:30px;" title="Tag Data"></div><div><input type="text" value="" id="name" placeholder="Name" style="height:30px;" title="Name"></div><div><input type="text" value="" id="company" placeholder="Company Name" style="height:30px;" title="Company Name"></div><div><input type="text" value="" id="email" placeholder="Email" style="height:30px;" title="Email"></div><div><input type="text" value="" id="phone" placeholder="Phone" style="height:30px;" title="Phone Number"></div></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><button class="btn btn-primary">Save changes</button></div></div>');
				

			}else{
				var new_modal = $("#tag-settings-modal-" + tag_index);
			}

			if(data.status === "1"){

				$(new_modal).find('#name').val(data.name);
				$(new_modal).find('#email').val(data.email);
				$(new_modal).find('#phone').val(data.phone);
				$(new_modal).find('#company').val(data.company);
			}
			$(new_modal).find('#data').val(data.data);
			
			// Bind save to click only once
			if(!$("#tag-settings-modal-" + tag_index).length){
				$(new_modal).find(".btn-primary").click(function(){
					$.ajax({
						url : '/save_subcase_tags_actor_details/',
						type : 'post',
						context : this,
						data : {
							tag_id : tag_index,
							name : $(new_modal).find("#name").val(),
							email : $(new_modal).find("#email").val(),
							phone : $(new_modal).find("#phone").val(),
							company : $(new_modal).find("#company").val(),
							data : $(new_modal).find("#data").val()
						},
						dataType : 'json',
						success : function(data, event){
							if(data.status === '1'){
								var href = "#" + $(".tag-object[index=\'" + tag_index + "\']").parent().attr("id");
								$("a[href='" + href + "'").trigger('click');
								$(this).prev().trigger('click');
							}
						},
						error : function(xhr, status, error){
							console.log("didn't work");
						}
					});
				})


				// Finally append the modal to DOM
				$(new_modal).appendTo("body");
			}

			// Show and hide modal
			$(new_modal).modal('toggle');			
		},
		error : function(xhr, status, error){

		}
	})

}


$(function(){
	

	// $("#tags-block").height("300px");
{% block add_tags_url_block %}
	// Hijacks the context menu to display custom context for tagging
	$(".tag-support").bind("contextmenu",function(event){
		selected_text = getSelectionHtml();
		if(selected_text) showContextMenu("#tags-menu", event.pageX, event.pageY);
        return false;
    });


	// Supplimentary function to hide context menu when clicked anywhere
	// else other than on the menu
    $("body").mouseup(function(event){
		var container = $("#tags-menu");
		if(!container.is(event.target) && container.has(event.target).length === 0)
			container.hide();

		var container2 = $(".tag-object .close");
		if(!container2.is(event.target) && container2.has(event.target).length === 0)
			$(".tag-object .dropdown").addClass("hide").removeClass("pos-absolute");
	});



	// Compute target of tag insertion from tags context menu
    function tab_target(value){
    	return "#" + value.split("-").slice(2).join("-") + "-tab-pane";
    }

    // Add an actor tag
	$("#tags-menu a").click(function(event){
		// console.log(event);
		// Check which menuitem was clicked
		var id_type = event.currentTarget.id
		
	
		// Get selected data		
		selected_text = getSelectionHtml();

		// Hide the context menu
		$("#tags-menu").hide();
		
		// Get all tags data to send it to server to save
		$.ajax({
			url : {{ add_tags_url }},
			method : "post",
			dataType : 'json',
			data : {
				key : tab_target(id_type).slice(1),
				tag : selected_text,
				case_id : {{ row_id }}
			},
			success : function(data){
				if(data.status !== "0"){
					console.log(data);
					// Ajax call here to update the DB
					// if success is retured add it to tag-actor-pane
					var actor_tag_object = $("#tag-object").clone();
					
					$(actor_tag_object).removeClass("hide").attr('id','').addClass('tag-object').attr('index',data.index);
					$(actor_tag_object).find("h5").html(selected_text);
					// // Unpack the options if present for a particular tag and append it
					if(data.options){
						var li = $(actor_tag_object).find(".dropdown-menu li");
						$(data.options).each(function(option_index, option_value){
							$(li).prepend('<a href="javascript:void(0)" role="menuitem" class="collapse-section ' + option_value.classname  + '">' + option_value.label_name + '</a>')
						})
					}

					$(actor_tag_object).fadeIn(300, function(){
						$(this).appendTo(tab_target(id_type));
						// After dynamically adding a tag, we need to 
						// refresh the Js required for its proper functioning
						refreshJs(actor_tag_object);

					});
					
					
					// Display the tab to which recently the tag was added
					$("#tag-tabs a[href=" + tab_target(id_type) + "]").tab('show');

					// Notify success
					notify("Success", "Successfully added a tag.", "success", {nonblock:true});
				}else{
					notify("Error", "Error adding tag.", "error", {nonblock:true});
				}
				
			},
			error : function(xhr, status, error){
				notify("Error", "Error adding tag.", "error", {nonblock:true});
			}
		})
		
	});
	
{% endblock add_tags_url_block %}


{% block fetch_tags_url_block %}
	// Add spinner divs to tab-panes
	$(".tab-content .tab-pane").append('<div class="spinner"></div>');


	// Retrive all the tags as page loads	
	$("#tag-tabs a").click(function(){
		// If tags are already imported, don't do anything
		if (tab_ajax_flag) return;

		// Set spinner height and rotation speed
		SPINNER_OPTS.height = 30;
		SPINNER_OPTS.rotation = 700;
		SPINNER_OPTS.color = "#6B6B6B";
		var tab_pane = $(this).find('a').attr("href");
		var spinner = Spinners.create(tab_pane + " .spinner", SPINNER_OPTS).play();
		spinner.center();
		$.ajax({
			url : {{ fetch_tags_url }},
			method : "post",
			dataType : "json",
			data : {
				case_id : {{ row_id }}
			},
			success : function(data){
				spinner.remove();
				if (data !== "0") {
					$.each(data, function(key, value){
						if(!tab_ajax_flag) $("#" + key).html('');
						$.each(value, function(index, value2){
							if(index === "options") return;
							var actor_tag_object = $("#tag-object").clone();
							$(actor_tag_object).removeClass("hide").attr('id','').addClass('tag-object').attr('index',index);
							$(actor_tag_object).find("h5").html(value2.tag_data);

							// Unpack the options if present for a particular tag and append it
							if(value.options){
								var li = $(actor_tag_object).find(".dropdown-menu li");
								$(value.options).each(function(option_index, option_value){
									$(li).prepend('<a href="javascript:void(0)" role="menuitem" class="collapse-section ' + option_value.classname  + '">' + option_value.name + '</a>')
									var callback = window[option_value.callback];
									if(typeof callback === 'function') $(li).find("." + option_value.classname).click(callback);
								})
							}

							{% if view_mode %}
								$(actor_tag_object).find("p,a").remove();
							{% endif %}
							refreshJs(actor_tag_object);
							$(actor_tag_object).appendTo("#" + key);

						});
						
					});
					// tab_ajax_flag = true;
					
				}else{
					notify("Error", "Error saving tag", "error", {nonblock:true});
				}
			},
			error : function(xhr, status, error){
				notify("Error", "Error saving tag", "error", {nonblock:true});
			}
		});

	});

	// Activate the tabs in tag section to fetch all the tags and populate
	$("#tag-tabs a:first").trigger('click');
{% endblock fetch_tags_url_block %}


})

// Add JS for dynamically created objects here
function refreshJs(selector){

	{% block delete_tags_url_block %}
     
    $(selector).bind('close',function(){
        $(this).find(".dropdown").toggleClass("hide").toggleClass("pos-absolute");
        return false;
    });
	
	// Actor deletion confirmation
    $(selector).find(".delete-tag").click(function(){
    	$(this).parents(".tag-object").find(".confirm-actor-deletion").show();
    	$(this).find(".dropdown").css('z-index', 100000);
    	$(this).css('z-index', -1);
    })

    // Action to if deletion of actor is confirmed
    $(selector).find(".actor-approve-delete").click(function(){
        
        var alert = $(this).parent().parent();
        
        var tag_object = $(this).parent().parent().parent();
		// Get all tags data to send it to server to save
		$.ajax({
			url: {{ delete_tags_url }} ,
			method : "post",
			data : {
				data : $(alert).find("h5").html(),
				index : $(alert).attr('index'),
				key : $(tag_object).attr('id'),
				case_id :{{ row_id }}
			},
			success : function(data){
				console.log(data);
				if (data === "1") {
					$(alert).fadeOut(300, function(){
						$(this).remove();
					})
					notify("Success", "Succesfully updated tag", "success", {nonblock:true});
				}else
					notify("Error", "Error updating tag 1", "error", {nonblock:true});
			},
			error : function(xhr, status, error){
				notify("Error", "Error updating tag 2", "error", {nonblock:true});
			}
		})
    });

    // Action to if deletion of actor is canceled
    $(selector).find(".actor-cancel-delete").click(function(){
        $(this).parent().parent().find(".confirm-actor-deletion").hide();
    });         

    {% endblock delete_tags_url_block %}
    
}

</script>