.section-content .well{
	width: 95%;
	margin-top: 20px;
	padding:0;
	position:relative;
}

.section-content .well div.editable-div{
	padding: 5px 5px 0 5px;
	min-height: 30px;
	border-bottom: 1px dotted #DADADA;
	/*white-space: nowrap;*/
	/*overflow-x:hidden;*/
	position: relative;
}

.section-content .well div:last-child{
	border-bottom: 0;
}

.section-content .well div span.floating-label, .floating-label-dilemma{
	position: absolute;
	top:7px;
	right: 5px;
	background-color: #6B6B6B;
	font-size: 12px;
	font-weight: bolder;
	color:#fff;
	border-radius: 2px;
	padding: 0 2px 0 2px;
	/*opacity: 0.7;*/
}

.add-question-btn, .remove-question-btn, .delete-challenge-btn, .add-choice-btn, .remove-choice-btn, .relations-challenge-btn, .add-dilemma-btn, .remove-dilemma-btn{
	background-color: #fff;
	padding-right: 5px;
	box-shadow: 0px 0px 10px 2px #DADADA;
	border-radius: 0 4px 4px 0;
	position: absolute;
	top : 2px;
	right : -36px;
	height:30px;
}

.add-question-btn .btn-group, .remove-question-btn .btn-group, .delete-challenge-btn .btn-group, .add-choice-btn .btn-group,
.remove-choice-btn .btn-group, .relations-challenge-btn .btn-group, .add-dilemma-btn .btn-group, .remove-dilemma-btn .btn-group{
	top:5px;
	padding-left: 5px;
	
}

.add-question-btn button, .remove-question-btn button, .delete-challenge-btn button, .add-choice-btn button, 
.remove-choice-btn button, .relations-challenge-btn button, .add-dilemma-btn button, .remove-dilemma-btn button{
	padding: 2px;
	height: 20px;
}

.add-question-btn button i, .remove-question-btn button i, .delete-challenge-btn button i, .add-choice-btn button i,
.remove-choice-btn button i, .relations-challenge-btn button i, .add-dilemma-btn button i, .remove-dilemma-btn button i{
	font-size: 10px;
	padding: 0 5px 3px 5px;
}

.remove-question-btn, .remove-choice-btn, .remove-dilemma-btn{
	right : 0;
	opacity : 0;
}


.section-content .well textarea{
	padding:0 !important;
	background-color: inherit;
	border:0;
	margin: 0 5px 5px 0;
	width:100%;
	box-shadow: none !important;
	-webkit-box-shadow : 0;
	box-shadow : 0;
	height:20px;
	resize:none;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

.section-content .well textarea:focus{
	border-color: inherit;
	box-shadow: none !important;
	-webkit-box-shadow : 0;
	box-shadow : 0;
}

.sectioncontol-btns-small .dropdown{
	position:absolute;
}

.delete-challenge-confirmation{
	position: absolute;
	height:100%;
	width:100%;
	background-color: #f5f5f5;
	z-index: 10;
}

.section-tags{
	padding: 0 !important;
}

.section-tags input{
	height:30px;
}

.section .selectize-input, .selectize-input.has-items{
	border:0 !important;
	padding:2px !important;
	background-color: rgba(255,255,255,0);
	box-shadow: inset 0 0 0 !important;
}

.section .selectize-input:focus{
	border:0 !important;
	padding:2px !important;
}

.section .selectize-input .item{
	background-color: #6B6B6B !important;
	color: #fff !important;
	border-radius: 2px;
}

.section .selectize-dropdown-content div.active{
	background-color: #6B6B6B !important;
	color: #fff !important;
}

.modal-backdrop-cancel{
	color:#dadada;
	font-size:50px;
	top:20px;
	right:20px;
	cursor:pointer;
}

#overlay-accordion{
	left:20%;
	top:20%;
}

#graph-site{
	width:100%;
	height:100%;
}

#graph-site.linkable{
	cursor:pointer;
}


.floating-label-dilemma{
	background-color: #5FC4CD;
}