#answered-user-list{
	padding: 10px;
	height:400px;
	overflow:hidden;
	color:#6b6b6b;
}

#answered-user-list:hover{
	overflow-y:auto;
}

#answered-user-list a{
	color:#6b6b6b;
}


.user-item div{
	display:inline-block;
	height:100%;
	min-width: 0px;
}

.user-item:first-child{
	border-radius: 4px 4px 0 0;
}

.user-item:last-child{
	border-radius: 0 0 4px 4px;
}