.tag-object{
	padding: 5px;
	margin: 0 0 10px 10px;
}

.tag-object h5{
	margin: 0;
}

.tag-object .dropdown{
	top:30px;
}

.confirm-actor-deletion{
	display:none;
}

.dropdown#tags-menu{
	position: absolute;
	display: none;
}

#tags-block .tab-pane{
	height:150px;
	margin-bottom: 20px;
	overflow: hidden;
}

#tags-block .tab-pane:hover{
	overflow-y:auto;
}

#tags-block .tab-content{
	padding:0;
}